* { 
	margin: 0;	padding: 0; border: 0; 
	font-family: 'Microsoft yahei' !important;
}

body{
	font-family: 'Microsoft yahei' !important;
	background-color: rgb(240, 240, 240);
	line-height: 1.5em;
}

/*index*/
.banner_pic img{
	width: 100%;
    vertical-align: bottom;
}

.banner_text{
	background: url("img/banner_text.png") repeat-x;
	width: 100%;
    position: relative;
    margin-top: -35px;
	z-index: 1000;
	line-height: 35px;
	min-height: 35px;
	max-height: 35px;
	color: white;
	overflow: hidden;
}

.banner_text span{
	font-size: 13px !important;
	padding-left: 12.5px;
}

.menu{
	list-style: none;
	background-color: rgb(240, 240, 240);
}

.menu li{
	border-bottom: 1px solid rgb(216, 216, 216);
	border-top: 1px solid rgb(252 , 252, 252);
}

.menu li div{
	/*min-height: 70px;
	max-height: 70px;*/
	height: 70px;
	line-height: 70px;
	
	/*display: table-cell;
	width: 1000px; /*in fact is not 1000px*/
}

.menu li:first-child{
	border-top: none;
}

.menu li a{ 
	text-decoration: none; 
	color: black;
}

.menu li .menu_item{
	/*vertical-align: middle;*/ /*微信有问题*/
	max-width: 36px;
	padding: 20px 5% 0 7.8125%;
}

.menu li span{
	vertical-align: 9px;
}

.menu li .menu_arrow{
	float: right;
	margin: 30px 6.875% 0 0;
	max-width: 8px
}

/*info*/
.navigation{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: rgb(66, 184, 177);
	box-shadow: 1px 1px 3px rgb(100, 100, 100);
	color: white;
}

.navigation span{
	font-weight: bold;
	padding-left: 4.6%;
}

.navigation img{
	max-width: 50px;
	/*padding: 7px 2.1875% 0 0;
	float: right;
	cursor: pointer;*/
}

.menu_btn {
    display: inline-block;
  	width: 50px;
 	height: 30px;
  	float: right;
  	margin-right: 10px;
  	margin-top: 8px !important;
}

.list li{
	margin: 10px 3.125%;
}

.list li a{
	text-decoration: none;
}

.list li div{
	overflow: hidden;

	/*box-shadow: 1px 1px 3px #BCBCBC;
	border-left: 5px solid rgb(118, 209, 205);*/
}

.list li a div img{
	max-width: 75px;
	float: right;
}

.list li div h4{
	padding: 18px 0 0 3.4375%;
	color: rgb(100, 100, 100);
}

.list li div h4	span{
	padding-left: 3.75%;
	color: rgb(66, 184, 177);
}

.info_span{
	padding: 0 0 0 3.4375%;
}

.subtitle{
	color: rgb(204, 204, 204);
	font-size: small;
}

.more_button{
	color: white;
	background-color: rgb(118, 209, 205);
	font-size: 18px;
	margin: 0 3.125%;
	width: 93.75%;
	height: 40px;
	cursor: pointer;
	letter-spacing: 12px;
	text-indent: 12px;
	*text-indent: 0;
}

.more_button:hover{
	background-color: rgb(66, 184, 177);
}

/*info_content*/
.article{
	width: 93.75%;
	background-color: white;
	padding: 22px 3.125%;
	color: rgb(102, 102, 102);
}

.article h3 span{
	padding-left: 3.75%;
	color: rgb(66, 184, 177);
}

.article .article_content{
	margin-top: 10px;
}

.article .article_content p{
	/*text-indent: 2em;    */
}

.article .article_content img{
	width: 100%;
	margin-bottom: 10px;
}

.article .article_content table{
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
	background-color: white;
}

.article .article_content table td{
	border: 1px solid rgb(204, 204, 204);
	height: 40px;
	padding: 0 10px;
}

.article .article_content table td textarea{
	vertical-align: middle;
	width: 100%;
	height: 80%;
}

.article .article_content table td img{
	max-width: 13px;
	margin: 8px 8px 0 0;
	float: right;
}

.info_content_span{
	padding-top: 7.5px;
	display: inline-block; /*因为span设padding并不影响其他行*/
}

.page_select{
	list-style: none;
	margin: 10px auto;
	text-align: center;
}

.page_select li{
	display: inline-block;
	padding: 0 3.4375%;
}

.page_select li a{
	text-decoration: none;
	color: rgb(78, 182, 177);
}

.comment_add{
	padding: 0 3.125%;
	height: 82px;
	line-height: 82px;
	border-bottom: 1px solid rgb(209, 209, 209);
}

.comment_add .comment_area{
	height: 49px;
	padding: 3px 2%;
	width: 72%;
	border: 1px solid #DDDDDD;
	display: inline;
	vertical-align: middle;
}

.btn{
	color: white;
	background-color: rgb(122, 208, 205);
	font-size: large;
	cursor: pointer;
}

.btn:hover{
	background-color: rgb(63, 158, 154);
}

.comment_add .submit_btn{
	height: 55px;
	width: 18%;
	display: inline;
	vertical-align: middle;
	margin-left: 3%;
	font-size: 16px;
}

.comment_list li{
	border-top: 1px solid white;
	border-bottom: 1px solid rgb(209, 209, 209);
	padding: 12px 3.125%;
	color: rgb(102, 102, 102);
}

.comment_list li span{
	color: rgb(79, 182, 177);
}

/*job_content*/
.sub_btn,.order_btn,.buy_btn,.dial_btn{
	width: 100%;
	height: 40px;
	margin: 10px 0 0 0;
}

.job_content_span{
	float: right;
	padding: 7.5px 0 0 1%;
}

/*product_content*/
.colour{
	color: rgb(122, 208, 205);
}

.underline{
	text-decoration: underline;
}

.through{
	text-decoration: line-through;
}

/*book_info*/
.grid3{
	width: 27.5%;
}

.grid4{
	width: 36.25%;
}

/*new*/
.list li div{
	background-color: white;
}
.navigation, .more_button:hover, .btn:hover{
	background-color: #E87884 !important;	/*深*/
}
.more_button,.btn{
	background-color: #F2AEB9  !important; /*浅*/
}
/*.list li div{
	border-left: 5px solid #F2AEB9 !important;
}  */


.listOuter
{
    border-left: 5px solid #F2AEB9 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.listInner
{
    padding-bottom: 10px;
}
input
{
    -webkit-appearance: none;
}

.colour, .comment_list li span, .page_select li a, .list li div h4	span, .article h3 span{
	color: #F2AEB9  !important;
}
/*详情页面转发朋友圈*/
.friend_wrapper {
  width: 260px;
  margin: 20px auto;
}
.friend_btn {
  display: block;
  background: #EEEEEE;
  width: 120px;
  height: 30px;
  margin-bottom: 20px;
  float: left;
  font-size: 13px;
}
.friend_btn img {
  width: 24px;
  height: 24px;
  padding-top: 3px;
  padding-left: 10px;
  vertical-align: -7px;
}
.friend_btn:hover {
  background: #ccc;
  text-decoration: none;
}
.add_btn {
  display: block;
  background: #7AD0CD;
  margin: 20px auto;
  height: 40px;
  text-align: center;
  text-decoration: none;
}
.add_btn span {
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
.add_btn:hover {
  background: #4ABFBC;
  text-decoration: none;
}


/*我自己新增加的代码，用了控制文章标题的文字和日期样式20131023*/
.cTitle
{
    font-size: 24px;
    font-weight: bold;
}
.time
{
    font-size: 12px;
    font-weight: normal;
    padding-top: 10px;
}

.comment_2
{

    border: 1px solid #DDDCCF;
    width: 96%;
    margin-left: 2%;
    background-color: #fff;
}
.comment_2_add   textarea
{
    padding-top: 10px;
}
.comment_area_1
{
    width: 97%;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 5px;
    height: 100px;
    background-color: #fff;
    resize: none;
    border-bottom: 1px dashed #999;
    font-size: 14px;
}
.comment_area_2
{
    margin-left: 5px;
    font-size: 16px;
    width: 60%;
    height: 30px;
    background-color: #fff;
    resize: none;
    font-size: 14px;
}

.btn{
    color: white;
    background-color: #F2AEB9;
    font-size: large;
    cursor: pointer;
}

.btn:hover{
    background-color: #E87884;
}


/***************发送给朋友和分享按钮***************/
.share_send
{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    /*   border-top: 1px solid #E8E8E8;
     margin-left: 2%;
     width: 96%;*/
    border: 1px dashed #ccc;


}
.share_send input
{
    letter-spacing: 2px;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: #ED712B;
}
.share_send input:hover
{
    background-color: #C04F12;
}
.share_send img
{
    width: 25px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.button2_button3
{
    padding-right: 10px;
    padding-left: 10px;
}
.button2 ,.button3
{
    border: 1px solid #EAEAEA;
    font-size: 14px;
    color: #8B8B8B;
    background-color: #F7F7F7;
    height: 30px;
    width: 43%;
    text-align: center;
    padding: 5px;
}
.button2:hover ,.button3:hover
{
    background-color: #DBDBDB;
}
.button_word
{
    position: relative;
    top: -4px;
}
.button2
{
    float: left;
}
.button3
{
    float: right;
}

/*********************投票组件样式********************/
.LookForPhone
{
    font-size: 15px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}
.LookForPhone_s1
{
    float: left;
}
.LookForPhone_s2
{
    float: right;
    background-color: #E7E3E7;
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
.LookForPhone_s2:hover
{
    background-color: #D3CDD3;
}

.event_content_people
{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom:20px;
}
.event_content_people table
{
    width: 100%;
    border-collapse:collapse;
}
.event_people_td
{
    line-height: 30px;
    border: 1px solid #D8D9D8;


}
.event_people_sp1
{
    float: left;
    margin-left: 10px;
}
.event_people_sp2
{
    float: right;
    margin-right: 10px;
}
.event_people_sp3
{
    float: right;
    margin-right: 10px;
    background-color: #D3D3D3;
    padding: 5px;
}
.event_people_sp3:hover
{
    background-color: #E3E3E3;
}
.eventphone
{
    margin-left:10px;

}

