<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
		<link rel="stylesheet" type="text/css" href="css/info_content.css" />
		<script type="text/javascript" src="js/myAll.js"></script>
	</head>

	<body>
		<div data-role="page">
			<header data-role="header" data-tap-toggle="false" data-theme="none">
			<div class="title">
				<span id="product_name">美丽人生夏季限量版连衣裙预订</span>
			</div>
			<div class="time">
				    <span id="time">2013-5-27</span>
					<div class="status">
					<span id="count_read">&nbsp&nbsp阅读(132)</span>
					<span id="count_comment">&nbsp&nbsp评论(37)</span>
					<span id="count_book">&nbsp&nbsp预约(87)</span>
					</div>
			</div>
			</header>

			<div data-role="content">

				<div class="content_img">
					<img src="img/large_pic_booking_content.png" alt="" />
				</div><!-- content_img -->

				<div class="content_text">
					<span id="pre_price">原&nbsp&nbsp&nbsp价:318元</span>
					&nbsp&nbsp&nbsp&nbsp现&nbsp&nbsp&nbsp&nbsp价:<span id="content_price">254元&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
					<span id="discount">8折</span>
					<br />
					罗藤树 女装 夏季 轻质 修身 雪纺网纱 圆领 短袖 连衣裙。正如
					一位美国设计师所说：要感觉像个女人，请穿连衣裙。一条适合的
					连衣裙可以让你变得魅力十足，什么风情都信手拈来！
				</div><!-- content_text -->

				<div class="button_buy" onclick="">
					<a href="book_info.html"><button id="colorButton" onmouseover="deeper()" onmouseout="shallower()">预&nbsp&nbsp订</button></a>
				</div><!-- button_more_2 -->


				<div class="comment">
				<div class="split">
					<br />
				</div><!-- split -->

				<div class="comment_container">
					<div class="comment_publish">
						<div class="comment_text">
							<textarea id="comment_text_box" placeholder="请写下你的评论..." name=""></textarea>
						</div> <!-- comment_text --> 
						<a href="#">发&nbsp表</a>
					</div> <!-- comment_publish --> 
				</div><!-- comment_container --> 

				<div class="split">
					<br />
				</div><!-- split -->

					<div class="comment_list">
						<ul>
							<li>
								<span class="name">CT626:</span>
								<span class="comment_content">
									美丽人生的衣服真好看啊～而且这个品牌很有内涵的说～
								</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
								<span class="name">游虾:</span>
								<span class="comment_content">喜欢美丽人生～</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
								<span class="name">天降之屎:</span>
								<span class="comment_content">
									美丽人生的衣服很好看啊～而且这个品牌很有内涵的说～
								</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
						</ul>
					</div><!-- comment_list -->

				</div><!-- comment -->
			</div><!-- content -->
		</div><!-- page -->
	</body>
</html>
