<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
		<link rel="stylesheet" type="text/css" href="css/info_content.css" />
		<script type="text/javascript" src="js/myAll.js"></script>
	</head>

	<body>
		<div data-role="page">
			<header data-role="header" data-tap-toggle="false" data-theme="none">
				<div class="title">美丽人生 美丽传奇</div>
				<div class="time">2013-5-27</div>
			</header>

			<div data-role="content">
				<div class="content_img">
					<img src="img/mid_pic_info_content.png" alt="" />
				</div><!-- content_img -->

				<div class="content_text">
					<p>
					        犹太青年圭多（罗伯托·贝尼尼）邂逅美丽的女教师多拉（尼可莱塔·布拉斯基），他彬彬有礼的向多拉鞠躬：“早安！公主！”。历经诸多令人啼笑皆非的周折后，天遂人愿，两人幸福美满的生活在一起。
					</p>
					<p>
						    然而好景不长，法西斯政权下，圭多和儿子被强行送往犹太人集中营。多拉虽没有犹太血统，毅然同行，与丈夫儿子分开关押在一个集中营里。
					</p>
				</div><!-- content_text -->

				<div class="content_nav">
					<table>
						<tr>
							<td class="pre_page">
								<a href="" id="pre_page">上一页</a>
							</td>
							<td class="count_page">
								<span>1/3</span>
							</td>
							<td class="netx_page">
								<a href="" id="next_page">下一页</a>
							</td>
						</tr>
					</table>
				</div><!-- content_nav -->

				<div class="comment">
				<div class="split">
					<br />
				</div><!-- split -->

				<div class="comment_container">
					<div class="comment_publish">
						<div class="comment_text">
							<textarea id="comment_text_box" placeholder="请写下你的评论..." name=""></textarea>
						</div> <!-- comment_text --> 
						<a href="#">发&nbsp表</a>
					</div> <!-- comment_publish --> 
				</div><!-- comment_container --> 

				<div class="split">
					<br />
				</div><!-- split -->

					<div class="comment_list">
						<ul>
							<li>
								<span class="name">CT626:</span>
								<span class="comment_content">
									美丽人生的衣服真好看啊～而且这个品牌很有内涵的说～
								</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
								<span class="name">游虾:</span>
								<span class="comment_content">喜欢美丽人生～</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
								<span class="name">天降之屎:</span>
								<span class="comment_content">
									美丽人生的衣服很好看啊～而且这个品牌很有内涵的说～
								</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
						</ul>
					</div><!-- comment_list -->

				</div><!-- comment -->
			</div><!-- content -->
		</div><!-- page -->
	</body>
</html>
