<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
		<link rel="stylesheet" type="text/css" href="css/info_content.css" />
		<script type="text/javascript" src="js/myAll.js"></script>
	</head>

	<body>
		<div data-role="page">
			<header data-role="header" data-tap-toggle="false" data-theme="none">
			<div class="title">
				<span id="product_name">美丽人生夏季限量版连衣裙预订</span>
			</div>
			<div class="time">
				    <span id="time">2013-5-27</span>
					<div class="status">
					<span id="count_read">&nbsp&nbsp阅读(132)</span>
					<span id="count_comment">&nbsp&nbsp评论(37)</span>
					</div>
			</div>
			</header>

			<div data-role="content">

				<table id="requirement">

					<tr>
						<th>职位性质：</th>
						<td>全职</td>
					</tr>

					<tr>
						<th>专业要求：</th>
						<td>不限</td>
					</tr>

					<tr>
						<th>招聘日期：</th>
						<td>2013.5.24 ~ 2.14.6.2</td>
					</tr>

					<tr>
						<th>工作经验：</th>
						<td>五年以上</td>
					</tr>

					<tr>
						<th>职称要求：</th>
						<td>中级</td>
					</tr>

					<tr>
						<th>学历要求：</th>
						<td>不限</td>
					</tr>

					<tr>
						<th>工资待遇：</th>
						<td>10000 ~ 14999元/月</td>
					</tr>

					<tr>
						<th>招聘人数:</th>
						<td>4人</td>
					</tr>

					<tr>
						<th>任职资格：</th>
						<td></td>
					</tr>

					<tr>
						<td colspan="2">1、1-2年以上男装设计工作经验</td>
					</tr>

					<tr>
						<td colspan="2">2、熟练应用计算机软件Photoshop、CorelDraw等绘图知识</td>
					</tr>

					<tr>
						<td colspan="2">3、具有较强的审美能力和扎实的手绘服装设计基础</td>
					</tr>

					<tr>
						<td colspan="2">4、具有一定的人际能力、沟通能力和计划与执行能力</td>
					</tr>

					<tr>
						<th>联系人：</th>
						<td>汪小姐</td>
					</tr>

					<tr>
						<th>地&nbsp&nbsp址：</th>
						<td>东莞市虎门镇大宁社区麒麟东路15号</td>
					</tr>

					<tr>
						<th>邮&nbsp&nbsp编：</th>
						<td>823523</td>
					</tr>

					<tr>
						<th>电&nbsp&nbsp话：</th>
						<td>0769-8015</td>
					</tr>

					<tr>
						<th>网&nbsp&nbsp址：</th>
						<td><span id="net_address">http://www.meilife.com</span></td>
					</tr>
				</table>

				<div class="button_buy" onclick="">
					<a href="book_info.html"><button id="colorButton" onmouseover="deeper()" onmouseout="shallower()">一键拨号</button></a>
				</div><!-- button_more_2 -->


				<div class="comment">
				<div class="split">
					<br />
				</div><!-- split -->

				<div class="comment_container">
					<div class="comment_publish">
						<div class="comment_text">
							<textarea id="comment_text_box" placeholder="请写下你的评论..." name=""></textarea>
						</div> <!-- comment_text --> 
						<a href="#">发&nbsp表</a>
					</div> <!-- comment_publish --> 
				</div><!-- comment_container --> 

				<div class="split">
					<br />
				</div><!-- split -->

					<div class="comment_list">
						<ul>
							<li>
								<span class="name">CT626:</span>
								<span class="comment_content">
									美丽人生的衣服真好看啊～而且这个品牌很有内涵的说～
								</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
								<span class="name">游虾:</span>
								<span class="comment_content">喜欢美丽人生～</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
								<span class="name">天降之屎:</span>
								<span class="comment_content">
									美丽人生的衣服很好看啊～而且这个品牌很有内涵的说～
								</span>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
						</ul>
					</div><!-- comment_list -->

				</div><!-- comment -->
			</div><!-- content -->
		</div><!-- page -->
	</body>
</html>
