<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
	<link rel="stylesheet" href="css/index.css" />
	<script type="text/javascript" src="js/jquery-v2.0.2.js"></script>
	<script type="text/javascript" src="js/myAll.js"></script>
	<title>绿色房产</title>
</head>
<body>
	<div class="wrapper_picture">
		<img src="img/exp0.png" alt="" id="pic0" />
		<img src="img/exp1.jpg" alt="" id="pic1" />
		<img src="img/exp2.jpg" alt="" id="pic2" />
		<img src="img/exp3.jpg" alt="" id="pic3" />
		<img src="img/exp4.jpg" alt="" id="pic4" />
	</div> <!-- wrapper_picture --> 
	<div class="title_pic">
		<span class="title_text">绿城—长沙青竹园</span>
		<div class="dots">
			<img src="img/dot_white.png" alt="" id="dot0"/>
			<img src="img/dot_gray.png" alt="" id="dot1" />
			<img src="img/dot_gray.png" alt="" id="dot2" />
			<img src="img/dot_gray.png" alt="" id="dot3" />
			<img src="img/dot_gray.png" alt="" id="dot4" />
		</div> <!-- dots --> 
	</div> <!-- title_pic --> 

	<div class="wrapper_icon">
		<table cellspacing="15">
			<tr>
				<td onclick="location = 'info.html'"><img src="img/icon_info.png" alt="" />企业介绍</td>
				<td onclick="location = 'product_list.html'"><img src="img/icon_product.png" alt="" />产品介绍</td>
				<td onclick="location = 'feed.html'"><img src="img/icon_feed.png" alt="" />企业动态</td>
			</tr>
			<tr>
				<td onclick="location = 'book.html'"><img src="img/icon_book.png" alt="" />预约预订</td>
				<td onclick="location = 'job.html'"><img src="img/icon_job.png" alt="" />人才招聘</td>
				<td onclick="location = '#'"><img src="img/icon_hangye.png" alt="" />行业动态</td>
			</tr>
			<tr>
				<td onclick="location = 'product_manage.html'"><img src="img/icon_product_manage.png" alt="" />商品管理</td>
				<td onclick="location = 'client_manage.html'"><img src="img/icon_client_manage.png" alt="" />客户管理</td>
				<td onclick="location = 'book_manage.html'"><img src="img/icon_book_manage.png" alt="" />订单管理</td>
			</tr>
			<tr>
				<td onclick="location = 'recommend.html'"><img src="img/icon_recommend.png" alt="" />焦点推荐</td>
				<td onclick="location = 'send.html'"><img src="img/icon_send.png" alt="" />群发</td>
				<td onclick="location = 'connect.html'"><img src="img/icon_connect.png" alt="" />在线沟通</td>
			</tr>
			<tr>
				<td onclick="location = 'success.html'"><img src="img/icon_success.png" alt="" />成功案例</td>
				<td onclick="location = 'branch.html'"><img src="img/icon_branch.png" alt="" />分支机构</td>
				<td onclick="location = 'model.html'"><img src="img/icon_model.png" alt="" />手机模板</td>
			</tr>

		</table>
	</div> <!-- wrapper_icon --> 

	<div class="wrapper_ad">
		<img src="img/bar_title_1.png" alt="" />
		<span>推荐</span>
		<div class="ad_table">
			<div class="table_row">
				<a href="book_content.html">
				<div class="div_left">
					<img src="img/mid_pic_sale.png" alt="" />
					<div class="place"><span>惠百氏广场</span></div>
					<div class="ad_price">
						<span class="line_through_text">原价&#65509;10000</span>
						<br />
						<span class="discount_price">特价&#65509;8000</span>
					</div> <!-- ad_price --> 
				</div> 
			</a>

			<a href="book_content.html">
				<div class="div_right">
					<img src="img/mid_pic_sale.png" alt="" />
					<div class="place"><span>惠百氏广场</span></div>
					<div class="ad_price">
						<span class="line_through_text">原价&#65509;10000</span>
						<br />
						<span class="discount_price">特价&#65509;8000</span>
					</div> <!-- ad_price --> 
				</div> 
			</a>

			</div> <!-- table_row --> 

			<div class="table_row">
				<a href="book_content.html">
				<div class="div_left">
					<img src="img/mid_pic_sale.png" alt="" />
					<div class="place"><span>惠百氏广场</span></div>
					<div class="ad_price">
						<span class="line_through_text">原价&#65509;10000</span>
						<br />
						<span class="discount_price">特价&#65509;8000</span>
					</div> <!-- ad_price --> 
				</div> 
			</a>

			<a href="book_content.html">
				<div class="div_right">
					<img src="img/mid_pic_sale.png" alt="" />
					<div class="place"><span>惠百氏广场</span></div>
					<div class="ad_price">
						<span class="line_through_text">原价&#65509;10000</span>
						<br />
						<span class="discount_price">特价&#65509;8000</span>
					</div> <!-- ad_price --> 
				</div> 
			</a>

			</div> <!-- table_row --> 

			<div class="table_row">
				<a href="book_content.html">
				<div class="div_left">
					<img src="img/mid_pic_sale.png" alt="" />
					<div class="place"><span>惠百氏广场</span></div>
					<div class="ad_price">
						<span class="line_through_text">原价&#65509;10000</span>
						<br />
						<span class="discount_price">特价&#65509;8000</span>
					</div> <!-- ad_price --> 
				</div> 
			</a>

			</div> <!-- table_row --> 


		</div> <!-- ad_table --> 
	</div> <!-- wrapper_ad --> 

	<div class="rank">
		<img src="img/bar_title_2.png" alt="" />
		<span>销售排行榜</span>
			<ul>
			<a href="book_content.html">
				<li>
					<span class="rank_num" id="rank_num_1">1</span>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product">华悦名苑</span>
						<span class="rank_price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			<a href="book_content.html">
				<li>
					<span class="rank_num" id="rank_num_2">2</span>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product">华悦名苑</span>
						<span class="rank_price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			<a href="book_content.html">
				<li>
					<span class="rank_num" id="rank_num_3">3</span>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product">华悦名苑</span>
						<span class="rank_price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			<a href="book_content.html">
				<li>
					<span class="rank_num" id="rank_num_4">4</span>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product">华悦名苑</span>
						<span class="rank_price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			<a href="book_content.html">
				<li>
					<span class="rank_num" id="rank_num_5">5</span>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product">华悦名苑</span>
						<span class="rank_price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>

			</ul>
	</div> <!-- rank --> 

	<div class="discount_list">
		<img src="img/bar_title_3.png" alt="" />
		<span>优惠</span>
			<ul>
				<a href="book_content.html">
				<li>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product_top">华悦名苑</span>
						<span class="pre_price">原价&#65509;10000</span>
						<span class="price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			<a href="book_content.html">
				<li>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product_top">华悦名苑</span>
						<span class="pre_price">原价&#65509;10000</span>
						<span class="price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			<a href="book_content.html">
				<li>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product_top">华悦名苑</span>
						<span class="pre_price">原价&#65509;10000</span>
						<span class="price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			<a href="book_content.html">
				<li>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product_top">华悦名苑</span>
						<span class="pre_price">原价&#65509;10000</span>
						<span class="price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			<a href="book_content.html">
				<li>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="item_name_product_top">华悦名苑</span>
						<span class="pre_price">原价&#65509;10000</span>
						<span class="price_text"><span class="price">5200</span>元/平米</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>

			</ul>
	</div> <!-- discount_list --> 
	<a href="#"><img src="img/btn_top.png" alt="" id="btn_top" /></a>

	
</body>
</html>
