<!DOCTYPE html>
<html>
	<head>
		<title>（公司）介绍详情</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/book_content.css" />
	</head>

	<body>
		<div data-role="page">
			<header data-role="header" data-tap-toggle="false" data-theme="none">
			<div class="title">
				<span id="product_name">公司概况</span>
			</div>
			<div class="time">
				    <span id="time">2013-5-27</span>
					<div class="status">
					<span id="count_read">&nbsp&nbsp浏览(132)</span>
					<span id="count_comment">&nbsp&nbsp评论(37)</span>
					<span id="count_book">&nbsp&nbsp预约(87)</span>
					</div>
			</div>
			</header>

			<div data-role="content">
				<div class="content_img">
					<img src="img/big_pic_1.png" alt="" />
				</div><!-- content_img -->

				<div class="content_img">
					<img src="img/big_pic_2.png" alt="" />
				</div><!-- content_img -->

				<div class="content_text" style="word-break: break-all">
					<span id="sale">优惠预售</span><span id="content_price">：5200</span>元平米
					<p>
					绿城房地产集团有限公司，国内知名的房地产企业之一，专注开发系列城市优质房产品，具有国家一级开发资质，公司总部设在浙江省杭州市。绿城成立于1995年，2005年转制为外商独资企业，是香港上市公司——绿城中国控股有限公司（股票代码：3900）的全资子公司。
历经15年的发展，绿城已辖有70多家成员企业，拥有员工2600余人，房产开发足迹遍及浙江省内的杭州、宁波、温州、湖州、绍兴市、舟山、台州、临安、桐庐、淳安、海宁、德清、长兴、上虞、绍兴县、新昌、象山、慈溪、诸暨以及国内北京、上海、合肥、长沙、青岛、济南、南京、无锡、南通、郑州、乌鲁木齐、海南陵水、大连等30多个城市。至2008年12月底，在建、待建项目达76个，总占地面积2002.6万平方米，总建筑面积2643万平方米。
					</p>
				</div><!-- content_text -->

				<div class="comment">
				<div class="split">
					<br />
				</div><!-- split -->

				<div class="comment_container">
					<div class="comment_publish">
						<div class="comment_text">
							<textarea id="comment_text_box" placeholder="请写下你的评论..." name=""></textarea>
						</div> <!-- comment_text --> 
						<a href="#">发&nbsp表</a>
					</div> <!-- comment_publish --> 
				</div><!-- comment_container --> 


				<div class="split">
					<br />
				</div><!-- split -->

					<div class="comment_list">
						<ul>
							<li>
								<div class="commentItem">
								<span class="name">游一回：</span>
								<span class="comment_content">
									这个房价不错，可以考虑入手
								</span>
							</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
							<div class="commentItem">
								<span class="name">房奴：</span>
								<span class="comment_content">哇哦～这个房价确实不错，可以考虑入手，快点有钱吧～～</span>
						</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
							<div class="commentItem">
								<span class="name">青青河边草：</span>
								<span class="comment_content">
									这个房价不错，可以考虑入手
								</span>
						</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
						</ul>
					</div><!-- comment_list -->

				</div><!-- comment -->
			</div><!-- content -->
		</div><!-- page -->
	</body>
</html>
