<!DOCTYPE html>
<html>
	<head>
		<title>人才招聘</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
		<link rel="stylesheet" type="text/css" href="css/content.css" />
		<script type="text/javascript" src="js/myAll.js"></script>
	</head>

	<body>
		<div data-role="page">
			<header data-role="header" data-tap-toggle="false" data-theme="none" class="m8">
			<div class="title">
				<span id="product_name">招聘一位产品经理</span>
			</div>
			<div class="time">
				<span id="time">2013-5-27</span>
			</div>
			</header>

			<div data-role="content">

				<table id="requirement" class="m8" >

					<tr>
						<th>职位类型：</th>
						<td>产品类</td>
					</tr>

					<tr>
						<th>工作城市：</th>
						<td>上海</td>
					</tr>

					<tr>
						<th>主要职责：</th>
						<td></td>
					</tr>

					<tr>
						<td colspan="2">1、1-2年以上男装设计工作经验</td>
					</tr>

					<tr>
						<td colspan="2">2、熟练应用计算机软件Photoshop、CorelDraw等绘图知识</td>
					</tr>

					<tr>
						<td colspan="2">3、具有较强的审美能力和扎实的手绘服装设计基础</td>
					</tr>

					<tr>
						<td colspan="2">4、具有一定的人际能力、沟通能力和计划与执行能力</td>
					</tr>

					<tr>
						<th>岗位要求：</th>
						<td></td>
					</tr>

					<tr>
						<td colspan="2">1、1-2年以上男装设计工作经验</td>
					</tr>

					<tr>
						<td colspan="2">2、熟练应用计算机软件Photoshop、CorelDraw等绘图知识</td>
					</tr>

					<tr>
						<td colspan="2">3、具有较强的审美能力和扎实的手绘服装设计基础</td>
					</tr>

					<tr>
						<td colspan="2">4、具有一定的人际能力、沟通能力和计划与执行能力</td>
					</tr>

					<tr>
						<th>联系人：</th>
						<td>汪小姐</td>
					</tr>

					<tr>
						<th>地&nbsp&nbsp址：</th>
						<td>东莞市虎门镇大宁社区麒麟东路15号</td>
					</tr>

					<tr>
						<th>电&nbsp&nbsp话：</th>
						<td>0769-8015</td>
					</tr>

					<tr>
						<th>网&nbsp&nbsp址：</th>
						<td><span id="net_address">http://www.anjuke.com</span></td>
					</tr>
				</table>

				<div class="button_call">
					<img src="img/icon_call.png" alt="" />
					<span id="call" tel="15626456098">立即拨打电话</span>
				</div> <!-- button_call --> 

				<div class="comment">
				<div class="split">
					<br />
				</div><!-- split -->

				<div class="comment_container">
					<div class="comment_publish">
						<div class="comment_text">
							<textarea id="comment_text_box" placeholder="请写下你的评论..." name=""></textarea>
						</div> <!-- comment_text --> 
						<a href="#">发&nbsp表</a>
					</div> <!-- comment_publish --> 
				</div><!-- comment_container --> 


				<div class="split">
					<br />
				</div><!-- split -->

					<div class="comment_list">
						<ul>
							<li>
								<div class="commentItem">
								<span class="name">游一回：</span>
								<span class="comment_content">
									这个房价不错，可以考虑入手
								</span>
							</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
							<div class="commentItem">
								<span class="name">房奴：</span>
								<span class="comment_content">哇哦～这个房价确实不错，可以考虑入手，快点有钱吧～～</span>
						</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
							<div class="commentItem">
								<span class="name">青青河边草：</span>
								<span class="comment_content">
									这个房价不错，可以考虑入手
								</span>
						</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
						</ul>
					</div><!-- comment_list -->

				</div><!-- comment -->

			</div><!-- content -->
		</div><!-- page -->
	</body>
</html>
