<!DOCTYPE html>
<html>
	<head>
		<title>商品详情</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/book_content.css" />
	</head>

	<body>
		<div data-role="page">
			<header data-role="header" data-tap-toggle="false" data-theme="none">
			<div class="title">
				<span id="product_name">惠百氏全新板房27日开放&nbsp优惠认筹同步启动</span>
			</div>
			<div class="time">
				    <span id="time">2013-5-27</span>
					<div class="status">
					<span id="count_read">&nbsp&nbsp浏览(132)</span>
					<span id="count_comment">&nbsp&nbsp评论(37)</span>
					<span id="count_book">&nbsp&nbsp预约(87)</span>
					</div>
			</div>
			</header>

			<div data-role="content">
				<div class="content_img">
					<img src="img/big_pic_1.png" alt="" />
				</div><!-- content_img -->

				<div class="content_img">
					<img src="img/big_pic_2.png" alt="" />
				</div><!-- content_img -->

				<div class="content_text" style="word-break: break-all">
					<span id="sale">优惠预售</span><span id="content_price">：5200</span>元平米
					<p>
						7月27日惠百氏正式启动认筹，同时样板房首次对外开放。样板房设计风格多样，29m精致一房，61-79m实用两房
						户型紧凑使用，均双阳台配置，主卧赠送大飘窗，赠送面积高达5m。
					</p>
					<table>
						<tr>
							<td>项目地址：</td>
						</tr>
						<tr>
							<td>广园东新塘107国道与东江大道交汇路口</td>
						</tr>
						<tr>
							<td>自驾车路线：</td>
						</tr>
						<tr>
							<td>广园快速-新新出口-东江大道-107国道-项目（惠百氏广场）</td>
						</tr>
						<tr>
							<td>公交路线：</td>
						</tr>
						<tr>
							<td>1、在广州东站公交站乘坐214到新康花园下车，向前走500米即可。2、在广州火车东站客运站、天河客运站、
								流花车站XXXXX1、在广州东站公交站乘坐214到新康花园下车，向前走500米即可。2、在广州火车东站客运站、天河客运站、流花车站XXXXX
							</td>
						</tr>
					</table>
				</div><!-- content_text -->

				<div class="button_buy" onclick="">
					<a href="book_info.html">
						<button id="colorButton" onmouseover="deeper()" onmouseout="shallower()" tel="15626456098">
							预定电话&nbsp400&nbsp823&nbsp6688
						</button>
					</a>
				</div><!-- button_more_2 -->

				<div class="comment">
				<div class="split">
					<br />
				</div><!-- split -->

				<div class="comment_container">
					<div class="comment_publish">
						<div class="comment_text">
							<textarea id="comment_text_box" placeholder="请写下你的评论..." name=""></textarea>
						</div> <!-- comment_text --> 
						<a href="#">发&nbsp表</a>
					</div> <!-- comment_publish --> 
				</div><!-- comment_container --> 


				<div class="split">
					<br />
				</div><!-- split -->

					<div class="comment_list">
						<ul>
							<li>
								<div class="commentItem">
								<span class="name">游一回：</span>
								<span class="comment_content">
									这个房价不错，可以考虑入手
								</span>
							</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
							<div class="commentItem">
								<span class="name">房奴：</span>
								<span class="comment_content">哇哦～这个房价确实不错，可以考虑入手，快点有钱吧～～</span>
						</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
							<li>
							<div class="commentItem">
								<span class="name">青青河边草：</span>
								<span class="comment_content">
									这个房价不错，可以考虑入手
								</span>
						</div>
							</li>
				<div class="split">
					<br />
				</div><!-- split -->
						</ul>
					</div><!-- comment_list -->

				</div><!-- comment -->
			</div><!-- content -->
		</div><!-- page -->
	</body>
</html>
