<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品管理</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
	<link rel="stylesheet" href="css/list.css" />
	<link rel="stylesheet" href="css/index.css" />
	<link rel="stylesheet" href="css/mobiscroll.custom-2.5.4.min.css" />
	<script type="text/javascript" src="js/jquery-v2.0.2.js"></script>
	<script type="text/javascript" src="js/mobiscroll.custom-2.5.4.min.js"></script>
	<script type="text/javascript" src="js/myAll.js"></script>
		<script type="text/javascript">
			$(function() {
					$('#nav').mobiscroll().select( {
						theme: 'android-ics',
						lang: 'zh',
						display: 'bottom',
						mode: 'scroller',
						inputClass: 'i-txt',
						width: 200
					});
					$('#btn_menu').click(function() {
						$('#nav').mobiscroll('show');
						return false;
					});

					$('#clearSelect').click(function() {
						$('#nav').val(1).change();
						$('#nav'+'_dummy').val(' ');
						return false;
					});
			});
		</script>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#nav'+'_dummy').hide();
			});
		</script>

		<style type="text/css">
			.discount_price {
				color: #aeaeae;
			}
			.price_text {
				padding: 20px 20px 0 0;
			}
			.time {
				display: inline-block;
			}
		</style>

</head>
<body>
	<div class="content">
		<div class="list">
			<ul>
				<a href="product_manage_content.html">
				<li>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="price_text"><span class="price">5200</span>元/平米</span>
						<span class="item_name_product_top">华悦名苑</span>
						<span class="time">2013-08-07</span>
						<br />
						<span class="pre_price">原价&#65509;10000</span>
						<span class="discount_price">特价&#65509;5200</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
				<a href="product_manage_content.html">
				<li>
					<div class="list_item">
						<img src="img/small_pic_list.png" alt="" />
						<span class="price_text"><span class="price">5200</span>元/平米</span>
						<span class="item_name_product_top">华悦名苑</span>
						<span class="time">2013-08-07</span>
						<br />
						<span class="pre_price">原价&#65509;10000</span>
						<span class="discount_price">特价&#65509;5200</span>
					</div> <!-- list_item_text --> 
				</li>
			</a>
			</ul>

		<div class="button_buy">
			<button id="colorButton">更&nbsp多</button>
		</div>

				<div class="bar_bottom">
						<img src="img/btn_back_up.png" alt="" id="btn_back" onclick="window.history.back()" />
						<a href="#nav"><img src="img/btn_menu_up.png" alt="" id="btn_menu" /></a>
				</div> <!-- bar_bottom --> 


				<select id="nav" name="navigation" class="f-dd" onchange="top.location=this.value;">
					<option value="index.html">首页</option>
					<option value="info.html">企业介绍</option>
					<option value="product_list.html">产品介绍</option>
					<option value="feed.html">企业动态</option>
					<option value="book.html">预定预约</option>
					<option value="job.html">人才招聘</option>
					<option value="">行业动态</option>
					<option value="product_manage.html" selected="selected">商品管理</option>
				</select>


	</div> <!-- content --> 
</body>
</html>
