<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel = "stylesheet" href = "css/base.css" />
		<link rel = "stylesheet" href = "css/common.css" />
		<link rel = "stylesheet" href = "css/page.css" />
		<link rel = "stylesheet" href = "css/mobiscroll.custom-2.5.4.min.css" />
		<script type="text/javascript" src = "js/jquery-v2.0.2.js"></script>
		<script type="text/javascript" src = "js/mobiscroll.custom-2.5.4.min.js"></script>
		<script type="text/javascript" src = "js/main.js"></script>
	</head>
	<body>
		<div class = "wrapperPic h4"><img src = "img/top_border.png" class="w vt h" /></div>
		<ul class = "p8">
			<li class="itemList">
				<a href = "commodity_content.html">
					<div class = "w">
						<img src = "img/exam1.jpg" class = "vb fl ml3" />
						<h4 class = "mt8">美丽人生 美丽传奇</h4>
						<span class = "mt2 mb2 itemSubtitle">2013-5-27</span>
						<span class = "mt2 mb2 itemSubtitle"><span class = "lt">原价：￥87</span><span class = "colour ml10">特价：￥67</span></span>
					</div>
				</a>
			</li>
			<li class="itemList">
				<a href = "commodity_content.html">
					<div class = "w">
						<img src = "img/exam1.jpg" class = "vb fl ml3" />
						<h4 class = "mt8">美丽人生 美丽传奇</h4>
						<span class = "mt2 mb2 itemSubtitle">2013-5-27</span>
						<span class = "mt2 mb2 itemSubtitle"><span class = "lt">原价：￥87</span><span class = "colour ml10">特价：￥67</span></span>
					</div>
				</a>
			</li>
			<li class="itemList">
				<a href = "commodity_content.html">
					<div class = "w">
						<img src = "img/exam1.jpg" class = "vb fl ml3" />
						<h4 class = "mt8">美丽人生 美丽传奇</h4>
						<span class = "mt2 mb2 itemSubtitle">2013-5-27</span>
						<span class = "mt2 mb2 itemSubtitle"><span class = "lt">原价：￥87</span><span class = "colour ml10">特价：￥67</span></span>
					</div>
				</a>
			</li>
		</ul>
		<input type = "button" class = "moreBtn btn mb35" value = "更多" />
		<img src = "img/menu.png" class = "menuBtn" id = "show" />
		<div style = "display: none;">
			<select name="" id="demo" class="f-dd">
				<option value="index.html">主页</option>
			    <option value="info.html">企业介绍</option>
			    <option value="product.html">产品列表</option>
			    <option value="feed.html">企业动态</option>
			    <option value="trends.html">行业动态</option>
			    <option value="indent.html">订单管理</option>
			    <option value="client.html">客户管理</option>
			    <option value="job.html">人才招聘</option>
			    <option value="book.html">预约预订</option>
			    <option value="success.html">成功案例</option>
			    <option value="branch.html">分支机构</option>
			    <option value="contact.html">在线沟通</option>
			    <option value="commodity.html" selected = "selected">商品管理</option>
			    <option value="focus.html">焦点推荐</option>
			    <option value="send.html">群发</option>
			    <option value="template.html">选择手机模板</option>
			</select>
		</div>
	</body>
</html>