<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel = "stylesheet" href = "css/base.css" />
		<link rel = "stylesheet" href = "css/common.css" />
		<link rel = "stylesheet" href = "css/page.css" />
	</head>
	<body>
		<div class="itemContentFrame">
			<div class = "wrapperPic h4"><img src = "img/top_border.png" class="w vt h" /></div>
			<div class = "article p8">
				<h3>美丽人生 美丽传奇</h3>
				<span class = "itemContentSubtitle">2013-5-27</span>
				<span class = "itemContentSubtitle fr">评论（37）</span>
				<span class = "itemContentSubtitle fr">阅读（132）</span>
				<div class="wrapperPic mb8 mt8"><img src = "img/exam2.jpg" class = "w vb" /></div>
				<p>犹太青年圭多（罗伯托·贝尼尼）邂逅美丽的女教师多拉（尼可莱塔·布拉斯基），他彬彬有礼的向多拉鞠躬：“早安！公主”。 历经诸多令人啼笑皆非的周折后，天遂人愿，两人幸福美满的生活在一起。</p>
				<p>然而好景不长，法西斯政权下，圭多和儿子被强行送往犹太人集中营。多拉虽没有犹太血统，毅然同行，与丈夫儿子分开关押在一个集中营里。</p>
				<ul class = "pageSelect">
					<li><a href = "#" class="colour">上一页</a></li>
					<li>1/3</li>
					<li><a href = "#" class="colour">下一页</a></li>
				</ul>
			</div>
			<div class = "wrapperPic h2"><img src = "img/bottom_border.png" class="w h vt" /></div>
			<div class= "comment pt8">
				<textarea placeholder = "写下你的评论..." class = "comment_area ml8 mt8" ></textarea>
				<input type = "button" class = "submitBtn btn mt8" value = "发表" />
				<ul class = "mt8">
					<li class = "itemContentList">
						<span class = "colour">游一回：</span>
						这个房价不错，可以考虑入手~~
					</li>
					<li class="itemContentList">
						<span class = "colour">房奴：</span>
						哇哦，这个房价确实不错，可以考虑入手，快点有钱吧~~
					</li>
					<li class="itemContentList">
						<span class = "colour">青青河边草：</span>
						这个房价不错，可以考虑入手~~
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>