<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel = "stylesheet" href = "./template/11/css/base.css" />
		<link rel = "stylesheet" href = "./template/11/css/common.css" />
		<link rel = "stylesheet" href = "./template/11/css/page.css" />
		<link rel = "stylesheet" href = "./template/11/css/mobiscroll.custom-2.5.4.min.css" />

        <script type="text/javascript" src="template/js/jquery-v2.0.2.js"></script>
        <script type="text/javascript" src="template/js/mobiscroll.custom-2.5.4.min.js"></script>

        <script src="template/11/js/scrollbox.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="template/js/mobiscroll.custom-2.5.4.min.js"></script>
        <script type="text/javascript" src="template/js/js/jquery.query.js"></script>
        <script type="text/javascript" src="template/js/jquery.tmpl.min.js"></script>

        <script type="text/javascript" src = "./template/11/js/main.js"></script>

        <script type="text/javascript" src="template/js/feed.js"></script>

        <style type="text/css">
            .info_span
            {
                font-size: 14px;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function(){
                var anyTransformY = function(target, distance) {
                    $(target).css("-webkit-transform", "translateY("+distance+")");
                };
                anyTransformY(".contentTitle", "40px");
                anyTransformY(".contentHide-button", "-35px");


                $('#nav').mobiscroll().select( {
                    theme: 'android-ics',
                    lang: 'zh',
                    display: 'bottom',
                    mode: 'scroller',
                    inputClass: 'i-txt',
                    width: 200
                });



                $('#show').click(function() {
                    $('#nav').mobiscroll('show');
                    return false;
                });

                $('#clearSelect').click(function() {
                    $('#nav').val(1).change();
                    $('#nav'+'_dummy').val(' ');
                    return false;
                });
            });
        </script>


        <script id="detailTemplate" type="text/x-jquery-tmpl">
            <li class="itemList">
                <a href = "wx.php?do=detail&id={{= $_GET[idtype]id}}&uid={{= uid}}&idtype=$_GET[idtype]id&type=$_GET[idtype]&moblieclicknum=$bac['moblieclicknum']">
                    <div class = "w">
                        <!--{BLOCK_TAG_START}-->if image1url<!--{BLOCK_TAG_END}-->
                        <img src = "{{= image1url}}" class = "vb fl ml3" />
                        <h4 class = "mt8">
                            <!--{BLOCK_TAG_START}-->if eventid<!--{BLOCK_TAG_END}-->
                            {{= title}}
                            <!--{BLOCK_TAG_START}-->else<!--{BLOCK_TAG_END}-->
                            {{= subject}}
                            <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        </h4>


                        <!--{BLOCK_TAG_START}-->if goodscod<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->if listshow=='1'<!--{BLOCK_TAG_END}-->
                        <span class = "mt2 mb2 itemSubtitle"><!--<span class = "lt">原价：￥{{= curprice}}</span>  -->
                        <span class = "colour ml10">特价：￥{{= curprice}}</span></span>
                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->

                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->if eventid<!--{BLOCK_TAG_END}-->
                        <img src = "{{= image1url}}" class = "vb fl ml3" />
                        <h4 class = "mt8">
                            <!--{BLOCK_TAG_START}-->if eventid<!--{BLOCK_TAG_END}-->
                            {{= title}}
                            <!--{BLOCK_TAG_START}-->else<!--{BLOCK_TAG_END}-->
                            {{= subject}}
                            <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        </h4>

                        <!--{BLOCK_TAG_START}-->if goodscod<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->if listshow=='1'<!--{BLOCK_TAG_END}-->
                        <span class = "mt2 mb2 itemSubtitle"><!--<span class = "lt">原价：￥{{= curprice}}</span> -->
                        <span class = "colour ml10">特价：￥{{= curprice}}</span></span>
                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->

                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        <span class = "mt2 mb2 itemSubtitle">{{= dateline}}</span>

                        <!--{BLOCK_TAG_START}-->if starttime<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->if time<!--{BLOCK_TAG_END}-->

                        <span style="margin-left:30px;color:red;">拍卖未开始</span>
                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->if time1<!--{BLOCK_TAG_END}-->

                        <span style="margin-left:30px;color:red;">拍卖进行中</span>
                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->if time2<!--{BLOCK_TAG_END}-->

                        <span style="margin-left:30px;color:red;">拍卖已结束</span>
                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->
                        <!--{BLOCK_TAG_START}-->/if<!--{BLOCK_TAG_END}-->

                    </div>





                    <div class = "info_span subtitle">


                    </div>


                </a>
            </li>
        </script>

        <!--列表循环
        <script id="detailTemplate" type="text/x-jquery-tmpl">
            <li class="itemList">
                <a href = "wx.php?do=detail&id={{= $_GET[idtype]id}}&uid={{= uid}}&idtype=$_GET[idtype]id&type=$_GET[idtype]&moblieclicknum=$bac['moblieclicknum']">
                    <div class = "w">
                        <img src = "{{= image1url}}" class = "vb fl ml3" />
                        <h4 class = "mt18">{{= subject}}</h4>
                        <span class = "ml15 itemSubtitle">{{= dateline}}</span>
                    </div>
                </a>
            </li>

            <div class="split">
                <br />
            </div>

        </script>    -->


        <script type="text/javascript">
            $(document).ready(function(){
                $('#nav'+'_dummy').hide();
            });
        </script>


        <title>$appname</title>
	</head>
	<body>
		<div class = "wrapperPic h4"><img src = "./template/11/img/top_border.png" class="w vt h" /></div>
		<ul class = "p8">
            <div id="detail-panel"></div>
		</ul>

		<!--<input type = "button" class = "moreBtn btn mb35" value = "更多" />  -->
        <input style="color: #ffffff;font-size: 20px;font-family: '微软雅黑'" type = "button"
               onclick="getComment($('#idtype').val(), $('#uid').val(), $('#page').val(), $('#perpage').val());"
               value = "更&nbsp多" class = "more_button mb35"  />



        <input type="hidden" id="id" name="id" value="$_GET[id]"/>
        <input type="hidden" id="idtype" name="idtype" value="$_GET[idtype]"/>
        <input type="hidden" id="uid" name="uid" value="$_GET[uid]"/>
        <input type="hidden" id="page" name="page" value="2"/>
        <input type="hidden" id="perpage" name="perpage" value="4"/>
        <div style = "display: none;">
            <select name="" id="nav" class="f-dd" onchange="top.location=this.value;">
                <option value="wx.php?do=home&uid=$_GET[uid]">首页</option>
                <!--{loop $zhongwei $value}-->
                <option value="wx.php?do=feed&uid=$_GET[uid]&idtype=$value[english]">$value[subject]</option>
                <!--{/loop}-->
                <!--{if $zhongwei1}-->
                <!--{loop $zhongwei1 $value1}-->
                <option value="wx.php?do=feed&uid=$_GET[uid]&idtype=$value1[english]">$value1[subject]</option>
                <!--{/loop}-->
                <!--{/if}-->
            </select>
        </div>

        <img src = "template/11/img/menu.png" class = "menuBtn" id = "show" />

	</body>
</html>