<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel = "stylesheet" href = "css/base.css" />
		<link rel = "stylesheet" href = "css/common.css" />
		<link rel = "stylesheet" href = "css/page.css" />
		<script type="text/javascript" src = "js/jquery-v2.0.2.js"></script>
		<script type="text/javascript" src = "js/main.js"></script>
	</head>
	<body>
		<div class = "indexFrame">
			<div class = "wrapperPic">
				<img src = "img/banner_pic.png" class = "w vb" />
			</div>
			<a href = "info.html">
				<div class = "mainBlock fl lightBlue mt10">
					<img src = "img/info.png" />
					<div class = "wrapperText"><span>企业介绍</span></div>
				</div>
			</a>
			<a href = "product.html">
				<div class = "mainBlock fr orange mt10">
					<img src = "img/product.png" />
					<div class = "wrapperText"><span>产品介绍</span></div>
				</div>
			</a>
			<a href = "feed.html">
				<div class = "mainBlock fl green mt10">
					<img src = "img/business_movement.png" />
					<div class = "wrapperText"><span>企业动态</span></div>
				</div>
			</a>
			<a href = "success.html">
				<div class = "mainBlock fr yellow mt10">
					<img src = "img/success.png" />
					<div class = "wrapperText"><span>成功案例</span></div>
				</div>
			</a>
			<a href = "trends.html">
				<div class = "mainBlock fl blue mt10">
					<img src = "img/industry_trends.png" />
					<div class = "wrapperText"><span>行业动态</span></div>
				</div>
			</a>
			<a href = "job.html">
				<div class = "mainBlock fr purple mt10">
					<img src = "img/job.png" />
					<div class = "wrapperText"><span>人才招聘</span></div>
				</div>
			</a>
			<a href = "branch.html">
				<div class = "mainBlock fl pink mt10">
					<img src = "img/branch.png" />
					<div class = "wrapperText"><span>分支结构</span></div>
				</div>
			</a>
			<a href = "contact.html">
				<div class = "mainBlock fr deepBlue mt10">
					<img src = "img/contact.png" />
					<div class = "wrapperText"><span>在线沟通</span></div>
				</div>
			</a>
			<a href = "client.html">
				<div class = "mainBlock fl lightBlue mt10">
					<img src = "img/client.png" />
					<div class = "wrapperText"><span>客户管理</span></div>
				</div>
			</a>
			<a href = "commodity.html">
				<div class = "mainBlock fr orange mt10">
					<img src = "img/commodity.png" />
					<div class = "wrapperText"><span>商品管理</span></div>
				</div>
			</a>
			<a href = "indent.html">
				<div class = "mainBlock fl green mt10">
					<img src = "img/indent.png" />
					<div class = "wrapperText"><span>订单管理</span></div>
				</div>
			</a>
			<a href = "book.html">
				<div class = "mainBlock fr yellow mt10">
					<img src = "img/book.png" />
					<div class = "wrapperText"><span>预约预订管理</span></div>
				</div>
			</a>
			<a href = "focus.html">
				<div class = "mainBlock fl blue mt10">
					<img src = "img/focus.png" />
					<div class = "wrapperText"><span>焦点推荐</span></div>
				</div>
			</a>
			<a href = "send.html">
				<div class = "mainBlock fr purple mt10">
					<img src = "img/send.png" />
					<div class = "wrapperText"><span>群发</span></div>
				</div>
			</a>
			<a href = "template.html">
				<div class = "mainBlock fl pink mt10">
					<img src = "img/template.png" />
					<div class = "wrapperText"><span>选择手机模板</span></div>
				</div>
			</a>
		</div>
	</body>
</html>