<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel = "stylesheet" href = "css/base.css" />
		<link rel = "stylesheet" href = "css/common.css" />
		<link rel = "stylesheet" href = "css/page.css" />
	</head>
	<body>
		<div class="itemContentFrame">
			<div class = "wrapperPic h4"><img src = "img/top_border.png" class="w vt h" /></div>
			<div class = "article p8">
				<h3>诚聘服装设计师数名</h3>
				<span class = "itemContentSubtitle">2013-5-27</span>
				<span class = "itemContentSubtitle fr">评论（37）</span>
				<span class = "itemContentSubtitle fr">阅读（132）</span>
				<div class = "mt15 mb15">职位性质： 全职<br /> 
				专业要求： 不限 <br />
				招聘日期： 2013.5.24 ～ 2014.6.2<br />
				工作地点： 广东-东莞市<br />
				外语要求： 无<br /> 
				更新日期： 2013.5.29<br />
				工作经验： 五年以上<br /> 
				职称要求： 中级<br />
				学历要求： 不限<br />
				工资待遇： 10000～14999 元/月<br /> 
				招聘人数： 4人<br />
				任职资格：<br />
				1、1-2年以上男装设计工作经验<br />
				2、熟练应用计算机软件Photoshop、CorelDraw 等绘图知识<br />
				3、具有较强的审美能力和扎实的手绘服装设计基础<br />
				4、具有一定的人际能力、沟通能力和计划与执行能力<br />
				联系人： 汪小姐<br />
				地　址： 东莞市虎门镇大宁社区麒麟东路15号<br />
				邮　编： 823523<br />
				电　话： 0769-8015<br />
				网　址： http://www.meilife.com<br />
				</div>
				<input type = "button" class = "articleBtn btn mb8" value = "拨打电话" />
			</div>
			<div class = "wrapperPic h2"><img src = "img/bottom_border.png" class="w h vt" /></div>
			<div class= "comment pt8">
				<textarea placeholder = "写下你的评论..." class = "comment_area ml8 mt8" ></textarea>
				<input type = "button" class = "submitBtn btn mt8" value = "发表" />
				<ul class = "mt8">
					<li class = "itemContentList">
						<span class = "colour">游一回：</span>
						这个房价不错，可以考虑入手~~
					</li>
					<li class="itemContentList">
						<span class = "colour">房奴：</span>
						哇哦，这个房价确实不错，可以考虑入手，快点有钱吧~~
					</li>
					<li class="itemContentList">
						<span class = "colour">青青河边草：</span>
						这个房价不错，可以考虑入手~~
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>