<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel = "stylesheet" href = "css/base.css" />
		<link rel = "stylesheet" href = "css/common.css" />
		<link rel = "stylesheet" href = "css/page.css" />
	</head>
	<body>
		<div>
			<div class = "article p8">
				<h3>速款2013款2.0TSI GLI
					<span class = "price itemContentPrice">售价：16.29万</span>
				</h3>
				<span class = "subtitle">2013-5-27</span>
				<div class="wrapperPic mb8 mt8"><img src = "img/exp1.jpg" class = "w vb" /></div>
				<div class="wrapperPic mb8 mt8"><img src = "img/exp1.jpg" class = "w vb" /></div>
				<p class = "pt8 pb8">太平洋汽车网自2002年7月成立以来，以自身魅力引起了业界的瞩目，赢得了广大网友的拥护。作为专业车网络媒体，PCauto以咨询、导购、导用、社区。</p>
				<div class="mb8">
					<span class = "lt">原价：18万</span><span class = "colour ml35">现价：16.29万</span>
				</div>
				<input type = "button" class = "book_btn btn" value = "购买" />
			</div>
			<div class= "comment pt8">
				<textarea placeholder = "写下你的评论..." class = "comment_area ml8" ></textarea>
				<input type = "button" class = "submit_btn btn" value = "发表" />
				<ul>
					<li class = "itemContentList clearBT">
						<span class = "colour">游一回：</span>
						这个房价不错，可以考虑入手~~
					</li>
					<li class="itemContentList">
						<span class = "colour">房奴：</span>
						哇哦，这个房价确实不错，可以考虑入手，快点有钱吧~~
					</li>
					<li class="itemContentList">
						<span class = "colour">青青河边草：</span>
						这个房价不错，可以考虑入手~~
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>