<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel = "stylesheet" href = "css/base.css" />
		<link rel = "stylesheet" href = "css/common.css" />
		<link rel = "stylesheet" href = "css/page.css" />
		<script type="text/javascript" src = "js/jquery-v2.0.2.js"></script>
		<script type="text/javascript" src = "js/main.js"></script>
	</head>
	<body>
		<div class = "wrapperPic logo">
			<img src = "img/exp0.jpg" class = "w vb" id = "pic0" />
			<img src = "img/exp1.jpg" class = "w vb" id = "pic1" />
			<img src = "img/exp2.jpg" class = "w vb" id = "pic2" />
			<img src = "img/exp3.jpg" class = "w vb" id = "pic3" />
		</div>
		<div class = "wrapperPic bannerPic">
			<img src = "img/bar.png" class = "w vb" />
		</div>
		<div class = "bannerText">新蒙迪欧即将入市 竞品最高优惠8万元</div>
		<div class = "bannerDot">
			<ul>
				<li><img src = "img/selected_dot.png" /></li>
				<li><img src = "img/unselected_dot.png" /></li>
				<li><img src = "img/unselected_dot.png" /></li>
				<li><img src = "img/unselected_dot.png" /></li>
			</ul>
		</div>
		<table class = "mainMenu mt15 mb8">
			<tbody>
				<tr>
					<td class = "clearBL clearBT" onclick="location = 'info.html'"><img src = "img/info.png">企业介绍</td>
					<td class = "clearBT" onclick="location = 'product.html'"><img src = "img/product.png">产品介绍</td>
					<td class = "clearBR clearBT" onclick="location = 'feed.html'"><img src = "img/business_movement.png">企业动态</td>
				</tr>
				<tr>
					<td class = "clearBL" onclick="location = 'trends.html'"><img src = "img/industry_trends.png">行业动态</td>
					<td onclick="location = 'indent.html'"><img src = "img/indent.png">订单管理</td>
					<td class = "clearBR" onclick="location = 'client.html'"><img src = "img/client.png">客户管理</td>
				</tr>
				<tr>
					<td class = "clearBL clearBB" onclick="location = 'job.html'"><img src = "img/job.png">人才招聘</td>
					<td class = "clearBB" onclick="location = 'book.html'"><img src = "img/book.png">预约预订</td>
					<td class = "clearBB" onclick="location = 'book.html'"><img src = "img/success.png">成功案例</td>
				</tr>
				<tr>
					<td class = "clearBL clearBB" onclick="location = 'job.html'"><img src = "img/branch.png">分支结构</td>
					<td class = "clearBB" onclick="location = 'commodity.html'"><img src = "img/commodity.png">商品管理</td>
					<td class = "clearBB" onclick="location = 'book.html'"><img src = "img/contact.png">在线沟通</td>
				</tr>
				<tr>
					<td class = "clearBL clearBB" onclick="location = 'job.html'"><img src = "img/focus.png">焦点推荐</td>
					<td class = "clearBB" onclick="location = 'book.html'"><img src = "img/send.png">群发</td>
					<td class = "clearBB" onclick="location = 'book.html'"><img src = "img/template.png">选择手机模板</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>