<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel = "stylesheet" href = "css/base.css" />
		<link rel = "stylesheet" href = "css/common.css" />
		<link rel = "stylesheet" href = "css/page.css" />
		<link rel = "stylesheet" href = "css/mobiscroll.custom-2.5.4.min.css" />
		<script type="text/javascript" src = "js/jquery-v2.0.2.js"></script>
		<script type="text/javascript" src = "js/mobiscroll.custom-2.5.4.min.js"></script>
		<script type="text/javascript" src = "js/main.js"></script>
	</head>
	<body>
		<ul class = "p8">
			<li class="itemList">
				<a href = "trends_content.html">
					<div class = "w">
						<div class = "wrapperPic"><img src = "img/exp1.jpg" class = "w vb" /></div>
						<div class = "wrapperText">网站介绍</div>
					</div>
				</a>
			</li>
			<li class="itemList">
				<a href = "trends_content.html">
					<div class = "w">
						<div class = "wrapperPic"><img src = "img/exp1.jpg" class = "w vb" /></div>
						<div class = "wrapperText">广告服务</div>
					</div>
				</a>
			</li>
			<li class="itemList clearMB">
				<a href = "trends_content.html">
					<div class = "w">
						<div class = "wrapperPic"><img src = "img/exp1.jpg" class = "w vb" /></div>
						<div class = "wrapperText">合作媒体</div>
					</div>
				</a>
			</li>
		</ul>
		<input type = "button" class = "book_btn btn mb35" value = "更多" />
		<img src = "img/menu.png" class = "menu_btn" id = "show" />
		<div style = "display: none;">
			<select name="" id="demo" class="f-dd">
				<option value="index.html">主页</option>
			    <option value="info.html">企业介绍</option>
			    <option value="product.html">产品列表</option>
			    <option value="feed.html">企业动态</option>
			    <option value="trends.html" selected = "selected">行业动态</option>
			    <option value="indent.html">订单管理</option>
			    <option value="client.html">客户管理</option>
			    <option value="job.html">人才招聘</option>
			    <option value="book.html">预约预订</option>
			</select>
		</div>
	</body>
</html>