<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/index.css" />
	<script type="text/javascript" src="js/jquery-v2.0.2.js"></script>
	<title>英孚教育</title>

	<script type="text/javascript">
		$(document).ready(function(){
//此版本使用了css3动画

//定义css3 transform动画，动画速度在index.css中的-webkit-transition-duration属性定义为1000ms
				var anyTransformY = function(target, distance) {
					$(target).css("-webkit-transform", "translateY("+distance+")");
					};
//页面加载时三大块分别调用动画函数（页面表现为上下合）
				anyTransformY(".wrapperPicture", "500px");
				anyTransformY(".titlePic","500px");
				anyTransformY(".itemList", "-500px");
//列表中任意一项点击后触发的函数
			$("tr").click(function(){
//goLocation变量是把点击项的id与跳转页面的地址联系起来，id+.html
				var goLocation = $(this).attr("id") + ".html";
//点击任意一项，三大块调用动画函数（页面表现为上下分）
				anyTransformY(".wrapperPicture", "-500px");
				anyTransformY(".titlePic","-500px");
				anyTransformY(".itemList", "500px");
//css3动画不自带回调函数，所以只能通过setTimeout来等动画执行完后再跳转页面
//通过闭包来访问外部变量goLocation
				setTimeout(
					(function(k){
						return function(){
							window.location = k;
						}
						})(goLocation), 800);
					});
		});
	</script>
</head>
<body>
	<div class="wrapperPicture">
		<img src="img/exp0.png" alt="" id="pic0" />
	</div> <!-- wrapperPicture -->  
	<div class="titlePic bgTranslucent">
		<span class="titleText cWhite">Efekt<sup>TM</sup>学习系统 科技改变英语学习</span>
		<div class="dots fr">
			<img src="img/dot_white.png" alt="" id="dot0" />
			<img src="img/dot_gray.png" alt="" id="dot1" />
			<img src="img/dot_gray.png" alt="" id="dot2" />
			<img src="img/dot_gray.png" alt="" id="dot3" />
			<img src="img/dot_gray.png" alt="" id="dot4" />
		</div> <!-- dots --> 
	</div> <!-- titlePic --> 

	<table class="itemList">
		<!--注意各个tr标签的id都与相关的页面跳转联系起来--> 
		<tr class="itemList-item" id="info">
			<td class="iconTd"><img src="img/icon_info.png" alt="" /></td>
			<td class="textTd"><span class="itemTitle">企业介绍</span></td>
			<td class="arrowTd"><img src="img/arrow_down.png" alt="" /></td>
		</tr>
		<tr class="itemList-item" id="product">
			<td class="iconTd"><img src="img/icon_product.png" alt="" /></td>
			<td class="textTd"><span class="itemTitle">产品介绍</span></td>
			<td class="arrowTd"><img src="img/arrow_down.png" alt="" /></td>
		</tr>
		<tr class="itemList-item" id="job">
			<td class="iconTd"><img src="img/icon_job.png" alt="" /></td>
			<td class="textTd"><span class="itemTitle">人才招聘</span></td>
			<td class="arrowTd"><img src="img/arrow_down.png" alt="" /></td>
		</tr>
		<tr class="itemList-item" id="product_manage">
			<td class="iconTd"><img src="img/icon_product_manage.png" alt="" /></td>
			<td class="textTd"><span class="itemTitle">商品管理</span></td>
			<td class="arrowTd"><img src="img/arrow_down.png" alt="" /></td>
		</tr>
		<tr class="itemList-item" id="profession">
			<td class="iconTd"><img src="img/icon_hangye.png" alt="" /></td>
			<td class="textTd"><span class="itemTitle">行业动态</span></td>
			<td class="arrowTd"><img src="img/arrow_down.png" alt="" /></td>
		</tr>
		<tr class="itemList-item" id="feed">
			<td class="iconTd"><img src="img/icon_feed.png" alt="" /></td>
			<td class="textTd"><span class="itemTitle">企业动态</span></td>
			<td class="arrowTd"><img src="img/arrow_down.png" alt="" /></td>
		</tr>
		<tr class="itemList-item" id="connect">
			<td class="iconTd"><img src="img/icon_connect.png" alt="" /></td>
			<td class="textTd"><span class="itemTitle">在线咨询</span></td>
			<td class="arrowTd"><img src="img/arrow_down.png" alt="" /></td>
		</tr>

	</table>
</body>
</html>
