<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/feed.css" />
	<link rel="stylesheet" href="css/pageTitle.css" />
	<link rel="stylesheet" href="css/pageComment.css" />
	<script type="text/javascript" src="js/jquery-v2.0.2.js"></script>
	<title>企业介绍</title>
</head>
<body>
	<div class="content">
		<div class="head pt20">
			<h1 class="cTitle f20">英孚杯全国中小学生英语全能挑战赛羊城落幕</h1>
			<div class="cTime pt15">
				<span class="time">2013-04-02</span>
				<span id="countComment" class="fr">评论(120)</span>
				<span id="countRead" class="fr pr5">浏览(146)</span>
			</div>
		</div> <!-- head --> 

		<div class="content-text mb20">
			<div class="wrapperPic mt10 mb10 clearfix w">
				<img src="img/mid_pic_3.png" alt="" class="fl" />
				<img src="img/mid_pic_3.png" alt="" class="fl" />
				<img src="img/mid_pic_3.png" alt="" class="fl" />
			</div> <!-- wrapperPic --> 
			<p class="cParagraph">
				经过层层选拔，来自北京、上海、广州、深圳的28名小选手今天在英孚杯全国中小学英语全能挑战赛总决赛相会，整个活动给孩子们提供了一个平台，在英语阅读、创意写作、绘本创作、英语演讲各大环节充分比拼，挑战全方位英语能力。来自北京的李盈润、来自深圳的徐悠游和来自上海的王席文同学最终赢得暑期三周游学大奖，即将跟随英孚的专业团队前往美国，在度假胜地佛罗里达和学术圣殿哈佛大学度过难忘假期，实现从“hello到哈佛”的梦想。
			</p>
			<p class="cParagraph">
				由英孚青少儿英语（http://www.ef.com.cn/）主办的“英孚杯”全国中小学生全能英语挑战赛自2012年11月在北上广深全面启动以来，吸引了英孚校内校外超过6000名学生参加，比赛设置了“小小达人组”、“未来精英组”和“明日之星组”三个年龄组。据主办方介绍， 今天的28名选手通过海选、校级初赛、市级复赛最后进入全国总决赛。初赛海选采用任务选拔制，参加选手需要在规定时间内完成指定故事的阅读，并以图文并茂的形式为该故事续写结局，充分调动孩子们的学习热情，同时最大程度激发他们的想象力。复赛阶段主要通过英文演讲的方式，重在考察学生们的语言能力、舞台表现力和临场应变能力，孩子通过讲述他们的亲身经历，阐述他们对“helpfulness支持帮助”、“bravery勇气勇敢”和 “persistence不懈坚持”这三大领导力主题的理解。赛场上不时传出家长、评委们被参赛选手的表演逗乐的笑声，以及对他们优异表现的赞许声。
			</p>
		</div> <!-- content-text --> 
	</div> <!-- content --> 

	<div class="comment">
		<div class="commentContainer">
			<div class="commentPublish">
				<div class="commentText fl">
					<textarea id="comment_text_box" placeholder="请写下你的评论..." name="" class="f16"></textarea>
				</div> <!-- comment_text --> 
				<a href="#" class="cWhite fr">发&nbsp表</a>
			</div> <!-- comment_publish --> 
		</div><!-- comment_container --> 

		<ul class="commentList">
			<li>
				<div class="commentItem">
					<span class="name cName">游一回：</span>
					<span class="commentContent cComment">这个房价不错，可以考虑入手</span>
				</div>
			</li>
			<li>
				<div class="commentItem">
					<span class="name cName">房奴：</span>
					<span class="commentContent cComment">哇哦～这个房价确实不错，可以考虑入手，快点有钱把～～</span>
				</div>
			</li>
			<li>
				<div class="commentItem">
					<span class="name cName">青青河边草：</span>
					<span class="commentContent cComment">这个房价不错，可以考虑入手</span>
				</div>
			</li>
		</ul>
	</div> <!-- comment --> 

</body>
</html>

