<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/profession.css" />
	<link rel="stylesheet" href="css/pageTitle.css" />
	<link rel="stylesheet" href="css/pageComment.css" />
	<script type="text/javascript" src="js/jquery-v2.0.2.js"></script>
	<title>行业动态详情</title>
</head>
<body>
	<div class="content">
		<div class="head pt20">
			<h1 class="cTitle f20">英孚教育与哈佛大学联手启动语言学习研究项目</h1>
			<div class="cTime pt15">
				<span class="time">2013-04-02</span>
				<span id="countComment" class="fr">评论(120)</span>
				<span id="countRead" class="fr pr5">浏览(146)</span>
			</div>
		</div> <!-- head --> 

		<div class="content-text mb20">
			<div class="wrapperPic mt10 mb10 clearfix">
				<img src="img/mid_pic_1.png" alt="" class="fl" />
				<img src="img/mid_pic_2.png" alt="" class="fr" />
			</div> <!-- wrapperPic --> 
			<p class="cParagraph">
				为什么有些国家的学生学英语更轻松？为什么在中国和俄罗斯最有效的英语教学方法与在英语母语国家的教法有那么大的不同？进一步了解影响英语核心技能掌握的因素是否有助于教育者们设计更有效的教学方法？英孚教育（www.ef.com.cn）和哈佛教育研究生院的学者今天正式宣布联手合作，通过一系列语言学习方法的测试来解答这些与英语语言习得相关的疑问。
			</p>
			<p class="cParagraph">
				此次合作将首先关注于如何提高学生英语写作的熟练度。哈佛教育研究生院的副教授保罗-乌切利和其语言文学项目组的博士生们将开始评估英孚教育中国区、俄罗斯区和英语母语区学员提交的文字作品。研究团队将通过比较学员文章、记录散文中重复出现的不同之处，试图去寻找最佳教学方案以提高学员英语写作的熟练程度。
			</p>
			<p class="cParagraph">
				为了进一步促成此合作，由全球领先的私人国际教育机构英孚教育将分享自己的数据库，为哈佛教育研究生院的学者们提供庞大而丰富的原始数据材料，从中研究总结更多的英语学习新方法，帮助世界各个角落的人们更加轻松的学习英语。双方以此契机开展合作更是水到渠成。
			</p>
		</div> <!-- content-text --> 
	</div> <!-- content --> 

	<div class="comment">
		<div class="commentContainer">
			<div class="commentPublish">
				<div class="commentText fl">
					<textarea id="comment_text_box" placeholder="请写下你的评论..." name="" class="f16"></textarea>
				</div> <!-- comment_text --> 
				<a href="#" class="cWhite fr">发&nbsp表</a>
			</div> <!-- comment_publish --> 
		</div><!-- comment_container --> 

		<ul class="commentList">
			<li>
				<div class="commentItem">
					<span class="name cName">游一回：</span>
					<span class="commentContent cComment">这个房价不错，可以考虑入手</span>
				</div>
			</li>
			<li>
				<div class="commentItem">
					<span class="name cName">房奴：</span>
					<span class="commentContent cComment">哇哦～这个房价确实不错，可以考虑入手，快点有钱把～～</span>
				</div>
			</li>
			<li>
				<div class="commentItem">
					<span class="name cName">青青河边草：</span>
					<span class="commentContent cComment">这个房价不错，可以考虑入手</span>
				</div>
			</li>
		</ul>
	</div> <!-- comment --> 

</body>
</html>

