<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/product_content.css" />
	<link rel="stylesheet" href="css/pageTitle.css" />
	<link rel="stylesheet" href="css/pageComment.css" />
	<link rel="stylesheet" href="css/button.css" />
	<script type="text/javascript" src="js/jquery-v2.0.2.js"></script>
	<title>商品管理详情</title>
</head>
<body>
	<div class="content">
		<div class="head pt20">
			<h1 class="cTitle f20">Efekta<sup>TM</sup>学习系统 科技改变英语学习</h1>
			<div class="cTitle pt15">价格：<strong class="cPrice">9200</strong>元/年</div>
			<div class="cTime pt15">
				<span class="time">2013-04-02</span>
				<span id="countComment" class="fr">评论(120)</span>
				<span id="countRead" class="fr pr5">浏览(146)</span>
			</div>
		</div> <!-- head --> 

		<div class="content-text">
			<img src="img/big_pic_1.png" alt="" />
			<h2 class="cTitle f20 pt10">学习 24小时随时随地学</h2>
			<p class="cParagraph pt10 pb10">
				一天24小时随时随地登陆iLab在线课件，学习1000小时的互动英语内容，涵盖生活、商务英语的方方面面，全面提升听说读写能力
			</p>
			<h2 class="cTitle f20 pt10">尝试 口语是开口连出来的</h2>
			<p class="cParagraph pt10 pb10">
				在培训中心的小班面授课和大班研讨课上与外籍培训师面对面练口语，也可以随时加入24小时不间断的在线的会话课
			</p>
		</div> <!-- content-text --> 
	</div> <!-- content --> 

		<div class="button myMargin">
			<a href="" class="f20 cWhite">购买</a>
		</div>

	<div class="comment">
		<div class="commentContainer">
			<div class="commentPublish">
				<div class="commentText fl">
					<textarea id="comment_text_box" placeholder="请写下你的评论..." name="" class="f16"></textarea>
				</div> <!-- comment_text --> 
				<a href="#" class="cWhite fr">发&nbsp表</a>
			</div> <!-- comment_publish --> 
		</div><!-- comment_container --> 

		<ul class="commentList">
			<li>
				<div class="commentItem">
					<span class="name cName">游一回：</span>
					<span class="commentContent cComment">这个房价不错，可以考虑入手</span>
				</div>
			</li>
			<li>
				<div class="commentItem">
					<span class="name cName">房奴：</span>
					<span class="commentContent cComment">哇哦～这个房价确实不错，可以考虑入手，快点有钱把～～</span>
				</div>
			</li>
			<li>
				<div class="commentItem">
					<span class="name cName">青青河边草：</span>
					<span class="commentContent cComment">这个房价不错，可以考虑入手</span>
				</div>
			</li>
		</ul>
	</div> <!-- comment --> 

</body>
</html>
