<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
        <meta name="description" content="微伍——企业移动互联网解决方案" />
        <meta name="keywords" content="微伍, 微信, 移动互联, 企业" />
        <title>微伍V5-成功案例</title>
        <link rel="stylesheet" href="./template/default/base.css" />
        <link rel="stylesheet" href="./template/default/common.css" />
        <link rel="stylesheet" href="./template/default/nav.css" />
        <link rel="stylesheet" href="./template/default/bottomWrapper.css" />
        <link rel="stylesheet" href="./template/default/success.css" />
        <script type="text/javascript" src="./source/jquery-1.9.0.min.js"></script>
      <script type="text/javascript" src="./source/cases.js"></script>
        <script type="text/javascript"></script>
    <!--[if IE 6]>
        <script type="text/javascript" src="js/DD_belatedPNG.js"></script>
        <script type="text/javascript" src="js/IEwarning.js"></script>
        <script type="text/javascript" charset="utf-8">
            DD_belatedPNG.fix(".pngFix,.pngFix:hover");      
        </script>
   <![endif]-->
        <!--[if IE 7]>
        <script type="text/javascript" src="js/IEwarning.js"></script>
        <![endif]-->
   <!-- 修复ie6透明png的bug -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
     
    <style type="text/css">
    .wrapper {
          background-color: #fff;
        }
        .companies .grid_3 span img{
             max-width:71px;max-height:71px;min-width:71px;min-height:71px;
          } 
        .companies .grid_4 img{
             max-width:172px;max-height:53px;min-width:172px;min-height:53px;
        }
        /*login hack*/
        #email,#tx,#pwd{
        margin-left:-12px\9;
        }
        body{
          color:#fff;
          background:#fff; 
        }
             </style>
  </head>
  <body>
    <div class="page bc">
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar-inner container_36">
                 <a class="logo grid_1" href="space.php?do=home"><img src="./template/default/image/logo.png"></a>
                <a href="home.php" class="grid_2">首页</a>
                <a href="buy.php" class="grid_2">套餐</a>
                <a href="cases.php" class="grid_2"><p class="nav_actived">成功案例</p></a>
                <a href="myhelp.php" class="grid_2">帮助</a>
                <div class="zz">
                    <a href="network.php?id=1"><div class="zhuce_1"><img src="./template/default/image/zhuceleft.fw.png"></div></a>
                    <a href="network.php?id=2"><div class="zhuce_2"><img src="./template/default/image/zhuceright.fw.png"></div></a>
                    <div style="clear: both"></div>
                </div>
                <!-- <a href="#" class="grid_5" style="float:right;color:#BDBEBF;padding-right:18px;">帮助</a> -->
             </div>
         </div>
         <!-- navbar end -->

        <div id="firstCase" class="successCase">
            <h2 class="caseTitle fb">水果皇子</h2>
            <div class="description">
                <p class="indentGrade0">微伍为“水果皇子”打造最贴心的客户端服务平台，为您的企业</p>
                <p class="indentGrade1">缔造顶尖服务口碑。微伍为“水果皇子”建造了一个让客人为享</p>
                <p class="indentGrade2">受高品质水果的微电商平台，从源头上确保水果新鲜、优质为前</p>
                <p class="indentGrade3">提，微信下单后直接送货到家的尊贵服务。时刻让顾客感受到高</p>
                <p class="indentGrade4">品质生活由此开始。</p>
            </div>
        </div> <!-- successCase -->

        <div id="secondCase" class="successCase">
            <h2 class="caseTitle fb" style="padding-left: 270px;">中韬华益</h2>
            <div class="description">
                <p class="indentGrade0">微伍致力为中韬华益打造全国连锁的专业财税服务机构，突现了</p>
                <p class="indentGrade1">中韬华益能有效帮助企业防范税务风险、解决税务难题、提升税</p>
                <p class="indentGrade2">务管理能力、创造税务利润等特点。贯彻市场本土化、服务全国</p>
                <p class="indentGrade3">化、税务服务模式化，充分发挥中韬华益全国化服务体系的优势，</p>
                <p class="indentGrade4">客户提供综合性财税解决方案，帮助客户获得成功！</p>
            </div>
        </div> <!-- successCase -->

        <div id="thirdCase" class="successCase">
            <h2 class="caseTitle fb" style="padding-left: 280px;">粉密码</h2>
            <div class="description" style="padding-left: 35px;position: relative;top: -50px;">
                <p class="indentGrade6">微伍让企业文化深植于粉密码连锁项目运营中的</p>
                <p class="indentGrade5">每一个细节，凭借十年连锁行业的管理经验，</p>
                <p class="indentGrade4">给予连锁分店宝贵的经营指引，我们坚信这是粉密码</p>
                <p class="indentGrade3">成功的核心优势！执行连锁体系“标准“性运营，</p>
                <p class="indentGrade2">严格要求每个分店必须具备优秀的执力，使体系中</p>
                <p class="indentGrade1">每一家特许连锁分店高效运营，创造更高的盈</p>
                <p class="indentGrade0">利为最终目标，确保整个体系的完美运营。</p>
            </div>
        </div> <!-- successCase -->

        <div id="fourthCase" class="successCase">
            <h2 class="caseTitle fb">E&Y生活馆</h2>
            <div class="description">
                <p class="indentGrade0">随着移动平台的不断崛起，微伍为E&Y生活馆打造微信购物渠道，让</p>
                <p class="indentGrade1">顾客享受全新的移动购物乐趣。E&Y生活馆主营个性定制概念，包括</p>
                <p class="indentGrade2">精品时装、异国家品、定制花艺与进口护肤品等等。追求创意与梦想，</p>
                <p class="indentGrade3">给予顾客从物质到精神生活的享受，提升生活的幸福，让心灵 回归</p>
                <p class="indentGrade4">爱，品味生活中一点一滴的感动。</p>
            </div>
        </div> <!-- successCase -->

        <div id="fifthCase" class="successCase">
            <h2 class="caseTitle fb" >苏格兰芳疗学院</h2>
            <div class="description" style="position: relative;top: -10px;padding-left: 20px;">
                <p class="indentGrade0">微伍精心为苏格兰芳疗学院建设别具一格的自定义菜单。英国</p>
                <p class="indentGrade1">苏格兰芳疗教育以课堂教学的方式，为补充疗法提供了一个高</p>
                <p class="indentGrade2">标准的培训体系。历经几十年沉淀，目前苏格兰芳疗教育机构</p>
                <p class="indentGrade3">全球多个国家和地区拥有学习中心，是当前国际上最权威的专</p>
                <p class="indentGrade4">业芳疗教育机构之一，所设课程由英国芳香疗法师协会认证，</p>
                <p class="indentGrade5">达到专业标准。</p>
            </div>
        </div> <!-- successCase -->

        <div id="sixthCase" class="successCase">
            <h2 class="caseTitle fb" style="">美姿网</h2>
            <div class="description"  style="">

                <p class="indentGrade3">微伍一直秉承着为客户提供最好、最简捷的服务这个理念，根据</p>
                <p class="indentGrade2">不同企业客户，推荐选择使用针对性的服务组件。为美姿网建设</p>
                <p class="indentGrade1">唯一的微信水密码旗舰店，通过微信渠道为消费者提供咨询，预</p>
                <p class="indentGrade0">订，在线支付等各种服务，帮助美姿网进入一个全新的电商时代。</p>
            </div>
        </div> <!-- successCase -->

        <div id="seventhCase" class="successCase">
            <h2 class="caseTitle fb">A&ME BOX</h2>
            <div class="description">
                <p class="indentGrade0">微伍为“A&ME BOX”实现通过其微信公众账号进行现象展示，更</p>
                <p class="indentGrade1">能免费领取商品，充分活跃客户参与互动；根据用户的美丽档案，</p>
                <p class="indentGrade2">为用户量身订与众不同的月度盒子。“订制您专属的美丽，让追</p>
                <p class="indentGrade3">逐美丽成为一种习惯！”数万名菇凉在这上面找到贴心专业的</p>
                <p class="indentGrade4">私人美容顾问，随时选购最自己的产品。</p>
            </div>
        </div> <!-- successCase -->

        <div id="eighthCase" class="successCase">
            <h2 class="caseTitle fb" style="padding-left: 270px;position: relative;top: 100px">舜世电子</h2>
            <div class="description" style="margin-top: 120px;padding-left: 40px;">
                <p class="indentGrade0">微伍致力为“舜世电子信息技术有限公司”打造成为电子行业</p>
                <p class="indentGrade1">卓越领跑者。舜世电子始终坚持“技术创新、客户至上”的理</p>
                <p class="indentGrade2">念，通过技术创新形成核心竞争力。专业生产触摸查询一体机、</p>
                <p class="indentGrade3">多媒体信息发布系统、排队叫号系统、LED电子显示屏、拼接</p>
                <p class="indentGrade4">大屏系列和相关应用软件的开发，为广大企业领域提供优异的</p>
                <p class="indentGrade5">高质量、高稳定的产品。</p>
            </div>
        </div> <!-- successCase -->

        <div id="ninthCase" class="successCase">
            <h2 class="caseTitle fb" style="padding-left: 250px;position: relative;top: 265px">岁月知味</h2>
            <div class="description"  style=" margin-top:70px;padding-left: 35px;">
                <p class="indentGrade5">微伍别具匠心为岁月知味量身打造企业理念，以</p>
                <p class="indentGrade4">“岁月沉积，人生知味”为理念，打造百年老字号。</p>
                <p class="indentGrade3">微信商城展示了岁月知味各式各样的茶叶产品，方便顾客</p>
                <p class="indentGrade2">查阅选购，为热爱易武茶的茶友提供纯料易武茶的样板</p>
                <p class="indentGrade1">和足以传世的经典茶品。公司坚持以“真纯”为原</p>
                <p class="indentGrade0">则，让质量与数量呈现喜人的梯式攀升效应。</p>

            </div>
        </div> <!-- successCase -->


    </div>

  
<!--{template footer}-->
    <!--<script src="js/bootstrap.min.js"></script>-->
