<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="微伍——企业移动互联网解决方案" />
    <meta name="keywords" content="微伍, 微信, 移动互联, 企业" />
    <title>微伍V5</title>
 <link rel="stylesheet" href="./template/default/base.css" />
          <link rel="stylesheet" href="./template/default/common.css" />
       <link rel="stylesheet" href="./template/default/nav.css" />
         <link rel="stylesheet" href="./template/default/adItem.css" />
         <link rel="stylesheet" href="./template/default/successList.css" />
         <link rel="stylesheet" href="./template/default/bottomWrapper.css" />
         <link rel="stylesheet" href="./template/default/index.css" />



      <script type="text/javascript" src="./source/MessageBoxjs/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="./template/default/MessageBoxcss/jquery.lightbox.css" />
      <!--[if IE 6]>
      <link rel="stylesheet" type="text/css" href="./template/default/MessageBoxcss/jquery.lightbox.ie6.css" />
      <![endif]-->

      <script type="text/javascript" src="./source/MessageBoxjs/jquery.lightbox.min.js"></script>
      <script type="text/javascript">
          jQuery(document).ready(function($){
              $.lightbox("./template/default/image/massage.png");
          });
      </script>



    <script type="text/javascript" src="./source/jquery-1.9.0.min.js"></script>
    <!-- myAll.js 文件包含我写的所有js函数。 lrx--> 
    <script type="text/javascript" src="./source/myAll.js"></script>
    <script type="text/javascript"></script>
  <!--[if IE 6]>
    <script type="text/javascript" src="js/DD_belatedPNG.js"></script>
        <script type="text/javascript" src="js/IEwarning.js"></script>
      <script type="text/javascript" charset="utf-8">
        DD_belatedPNG.fix(".pngFix,.pngFix:hover");      
      </script>
   <![endif]-->
        <!--[if IE 7]>
        <script type="text/javascript" src="js/IEwarning.js"></script>
        <![endif]-->





   <!-- 修复ie6透明png的bug -->
       <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
       <link rel="stylesheet" type="text/css" href="./template/default/style1.css">

       <style type="text/css">
           .wrapper {
             background-color: #fff;
           }
           .companies .grid_3 span img{
                max-width:71px;max-height:71px;min-width:71px;min-height:71px;
             }
           .companies .grid_4 img{
                max-width:172px;max-height:53px;min-width:172px;min-height:53px;
           }
           /*login hack*/
           #email,#tx,#pwd{

           }
           body{
             color:#fff;
             background:#fff;
           }
                </style>
     </head>
     <body>
       <div class="page bc">
       <div class="wrapper">
           <div class="navbar">
               <div class="navbar-inner container_36">
                  <a class="logo grid_1" href="space.php?do=home"><img src="./template/default/image/logo.png"></a>
                  <a href="home.php" class="grid_2"><p class="nav_actived">首页</p></a>
                   <a href="buy.php" class="grid_2">套餐</a>
                   <a href="cases.php" class="grid_2">成功案例</a>
                   <a href="myhelp.php" class="grid_2">帮助</a>

                       <div class="zz">
                           <a href="network.php?id=1"><div class="zhuce_1"><img src="./template/default/image/zhuceleft.fw.png"></div></a>
                           <a href="network.php?id=2"><div class="zhuce_2"><img src="./template/default/image/zhuceright.fw.png"></div></a>
                           <div style="clear: both"></div>
                       </div>


                </div>
            </div>
            <!-- navbar end -->

         <div class="gallery">
      <div class="galleryContainer">
        <img src="./template/default/image/img/big_picture1.jpg" alt="" class="pngFix" />
        <img src="./template/default/image/img/big_picture2.jpg" alt="" class="pngFix" />
        <img src="./template/default/image/img/big_picture3.jpg" alt="" class="pngFix" />
      </div>
    </div> <!-- gallery -->
        <div class="changepoint" style="position: relative;padding-left:930px;top: -10px">
            <span><img src="./template/default/image/point1.png"></span>
            <span><img src="./template/default/image/point2.png"></span>
            <span><img src="./template/default/image/point2.png"></span>
        </div>
    <ul class="adList w">
      <li class="adList-item">
        <div class="ad">
          <h3>微信自定义菜单</h3>
          <img src="./template/default/image/img/icon_cd.png" alt="" class="pngFix" />
          <p>V5 使您的公众账号升级成为微信内置app。告别繁琐关键字回复响应操作，点击菜单即可浏览精彩内容。</p>
        </div>
                <div class="stylewhite"></div>

        <img src="./template/default/image/img/border_bottom.png" alt="" class="borderBottomImage" />

      </li>

      <li class="adList-item">
        <div class="ad">
          <h3>微信商场</h3>
          <img src="./template/default/image/img/icon_sc.png" alt="" class="pngFix" />
          <p>V5帮助零售企业将网店开到微信上。借微信强关系的社交能力，将公众账号迅速打造成最火的电商渠道。</p>
        </div>
                <div class="stylewhite"></div>
        <img src="./template/default/image/img/border_bottom.png" alt="" class="borderBottomImage" />
      </li>
      <li class="adList-item adList-item-lastItem">
        <div class="ad">
          <h3>服务平台</h3>
          <img src="./template/default/image/img/icon_pt.png" alt="" />
          <p>预约预订申请、进度提醒、身份绑定...打造最贴心的客户端服务平台，为您的企业缔造顶尖服务口碑。</p>
        </div>
                <div class="stylewhite"></div>
        <img src="./template/default/image/img/border_bottom.png" alt="" class="borderBottomImage" />

      </li>
    </ul>
    <ul class="adList w">
      <li class="adList-item">
        <div class="ad">
          <h3>客户管理中心</h3>
          <img src="./template/default/image/img/icon_glzx.png" alt="" class="pngFix" />
          <p>统计分析客户操作、使用偏好、活跃程度。持续了解客户真实需求，从而优化产品，提升质量，满足客户。</p>
        </div>
                <div class="stylewhite"></div>
        <img src="./template/default/image/img/border_bottom.png" alt="" class="borderBottomImage" />
      </li>
      <li class="adList-item">
        <div class="ad">
          <h3>个性化微官网</h3>
          <img src="./template/default/image/img/icon_gw.png" alt="" class="pngFix" />
          <p>针对各行业不同需求，量身打造海量炫丽模板，轻松使您的微信公众账号上迅速变成赏心悦目的手机官网。</p>
        </div>
                <div class="stylewhite"></div>
        <img src="./template/default/image/img/border_bottom.png" alt="" class="borderBottomImage" />
      </li>
      <li class="adList-item adList-item-lastItem">
        <div class="ad">
          <h3>呼叫中心</h3>
          <img src="./template/default/image/img/icon_hjzx.png" alt="" class="pngFix" />
          <p>低成本便捷运营的呼叫中心，解除客服专人坐席成本高的难题，及时将咨询推送到运营人员手机微信。</p>
        </div>
                <div class="stylewhite"></div>
        <img src="./template/default/image/img/border_bottom.png" alt="" class="borderBottomImage" />
      </li>
    </ul>

    <div class="successList w clearfix">
      <div class="title fl"><img src="./template/default/image/img/text_success.png" alt="" class="pngFix" /></div>
      <div class="arrow fl tc" id="arrowLeft"><img src="./template/default/image/img/arrow_left.png" alt="" class="pngFix" /></div>
      <div class="arrow fr tc" id="arrowRight"><img src="./template/default/image/img/arrow_right.png" alt="" class="pngFix" /></div>
      <div class="logoList-container">
      <ul class="logoList">
        <li id="tag1" class="logoShow"><img src="./template/default/image/img/logo_company1.png" alt="" class="pngFix" /></li>
        <li id="tag2" class="logoShow"><img src="./template/default/image/img/logo_company2.png" alt="" class="pngFix" /></li>
        <li id="tag3" class="logoShow"><img src="./template/default/image/img/logo_company3.png" alt="" class="pngFix" /></li>
        <li id="tag4" class="logoShow"><img src="./template/default/image/img/logo_company4.png" alt="" class="pngFix" /></li>
        <li id="tag5" class="logoShow"><img src="./template/default/image/img/logo_company5.png" alt="" class="pngFix" /></li>
        <li id="tag6" class="logoShow"><img src="./template/default/image/img/logo_company6.png" alt="" class="pngFix" /></li>
        <li id="tag7" class="logoShow"><img src="./template/default/image/img/logo_company7.png" alt="" class="pngFix" /></li>
        <li id="tag8" class="logoShow"><img src="./template/default/image/img/logo_company8.png" alt="" class="pngFix" /></li>
        <!-- 第9个开始往后的隐藏 --> 
        <li id="tag7" class="logoShow"><img src="./template/default/image/img/logo_company7.png" alt="" class="pngFix" /></li>
        <li id="tag6" class="logoShow"><img src="./template/default/image/img/logo_company6.png" alt="" class="pngFix" /></li>
        <li id="tag5" class="logoShow"><img src="./template/default/image/img/logo_company5.png" alt="" class="pngFix" /></li>
        <li id="tag4" class="logoShow"><img src="./template/default/image/img/logo_company4.png" alt="" class="pngFix" /></li>
      </ul>
      </div>
    </div> <!-- successList --> 

    </div> <!-- page --> 


  
<!--{template footer}-->
    <!--<script src="js/bootstrap.min.js"></script>-->
