<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>v5v5v5v5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
  </head>
  <body>
    
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar-inner container_36">
                <a class="logo grid_1" href="#" style="background:none;"><img src="img/logo.png"></a>
                <a href="#" class="grid_5" style="float:right;color:#BDBEBF;padding-right:10px;">帮助</a>
             </div>
         </div>
         <!-- navbar end -->
         <div class="login_wrapper container_12">
            <div class="grid_1">
                 <img src="./template/default/image/login_pic.png">
            </div>
            <div class="grid_2 sign_window" id="log">
                  <ul>
                     <li style="float:left">注册账号</li>
                     <li style="padding-left:80px;" id="btna"><span>登陆</span><img src="img/login_btn.png" style="vertical-align:-3px;" id="btna"></li>
                  </ul>
                  <form class="">
                    <input type="text" name="" placeholder="用户名" />
                 </form>
                  <form class="">
                    <input type="text" name="" placeholder="邮箱" />
                 </form>
                  <form class="">
                    <input name="" type="text" value="密码" id="tx"/>
                    <input name="" type="password" style="display:none;" id="pwd" />
                 </form>
                 <a href="#" class="sign_btn">注册微伍</a>
            </div>
             <div class="grid_2 sign_window" id="sign" style="positon:relative;right:-300px;margin-top:-278px;">
                  <ul>
                     <li style="float:left">登陆账号</li>
                     <li style="padding-left:80px;" id="btnb"><span>注册</span><img src="img/login_btn.png" style="vertical-align:-3px;" id=""></li>
                  </ul>
                
                  <form class="">
                    <input type="text" name="" placeholder="邮箱" />
                 </form>
                  <form class="">
                    <input name="" type="text" value="密码" id="tx"/>
                    <input name="" type="password" style="display:none;" id="pwd" />
                 </form>
                 <a href="#" class="sign_btn">登陆微伍</a>
            </div>
         </div>

          <p class="login_page_company_title"><span>已经开通企业</span><span class="more"><a href="">更多</a></span></p>
          <div class="companies_wrapper">
          <div class="companies container_12">
             <div class="grid_3">
                   <img src="img/avata3.png" style="float:left;padding-right:10px;"> 
                   <span class="company_name">广州科技信息有限公司</span><br>
                    <span><a href="" class="fans">100000粉丝</a></span> 
              </div>
             <div class="grid_3">
                   <img src="img/avata3.png" style="float:left;padding-right:10px;"> 
                   <span class="company_name">广州科技信息有限公司</span><br>
                    <span><a href="" class="fans">100000粉丝</a></span> 
              </div>
               <div class="grid_3">
                   <img src="img/avata3.png" style="float:left;padding-right:10px;"> 
                   <span class="company_name">广州科技信息有限公司</span><br>
                    <span><a href="" class="fans">100000粉丝</a></span> 
              </div>
               <div class="grid_3">
                   <img src="img/avata3.png" style="float:left;padding-right:10px;"> 
                   <span class="company_name">广州科技信息有限公司</span><br>
                    <span><a href="" class="fans">100000粉丝</a></span> 
              </div>
                <div class="grid_3">
                   <img src="img/avata3.png" style="float:left;padding-right:10px;"> 
                   <span class="company_name">广州科技信息有限公司</span><br>
                    <span><a href="" class="fans">100000粉丝</a></span> 
              </div>
             <div class="grid_3">
                   <img src="img/avata3.png" style="float:left;padding-right:10px;"> 
                   <span class="company_name">广州科技信息有限公司</span><br>
                    <span><a href="" class="fans">100000粉丝</a></span> 
              </div>
               <div class="grid_3">
                   <img src="img/avata3.png" style="float:left;padding-right:10px;"> 
                   <span class="company_name">广州科技信息有限公司</span><br>
                    <span><a href="" class="fans">100000粉丝</a></span> 
              </div>
               <div class="grid_3">
                   <img src="img/avata3.png" style="float:left;padding-right:10px;"> 
                   <span class="company_name">广州科技信息有限公司</span><br>
                    <span><a href="" class="fans">100000粉丝</a></span> 
              </div>
          </div>
    
      </div><!-- 无类div结束 -->
      <p class="login_page_company_title"><span>品牌合作企业</span><span class="more"><a href="">更多</a></span></p>
               <div class="companies_wrapper">
          <div class="companies container_12">
              <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               
          </div>
          
            <div class="companies container_12">
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
               <div class="grid_4">
                  <img src="img/example3.png">
              </div>
          </div>
      </div><!-- 无类div结束 -->
    </div><!-- wrraper end -->
    <div class="footer">
        <div class="footer_map container_12">
           <ul class="grid_3">
                <li class="map_title"><img src="img/ff.png">使用帮助:</li>
                <li><a href="">开通流程</a></li>
                <li><a href="">管理员手册</a></li>
                <li><a href="">用户手册</a></li>
           </ul>

            <ul class="grid_3">
                <li class="map_title"><img src="img/ff.png">投诉与建议:</li>
                <li><a href="">在线客服</a></li>
                <li><a href="">留言板</a></li>
           </ul>

            <ul class="grid_3">
                <li class="map_title"><img src="img/ff.png"><span>合作:</span></li>
                <li><a href="">品牌企业合作</a></li>
                <li><a href="">媒体合作</a></li>
                <li><a href="">收费细节</a></li>
           </ul>

            <ul class="grid_3">
                <li class="map_title"><img src="img/ff.png">关于我们:</li>
                <li><a href="">企业介绍</a></li>
                <li><a href="">联系方式</a></li>
                <li><a href="">人才招聘</a></li>
           </ul>
          
        </div><!-- map end -->
        <div class="footer_info">
             版权所有：广州市宏门网络科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ICP:&nbsp;&nbsp; 粤AXXXXXXXXXXXXX
        </div>
    </div>

    <script src="./source/jquery_v1.10.2.js"></script>
    <script type="text/javascript">
   $('#btna').click(function(){
    $('#log').animate({ opacity: '0'
},200);  
     $('#sign').animate({right:'0'
},200);  
    // $('#log').slideToggle("medium","linear");
    // $('#sign').slideToggle("medium","linear");
   });
    $('#btnb').click(function(){
    $('#sign').animate({ right:'-300px'
},200);  
     $('#log').animate({opacity: '1'
},200);  
    // $('#log').slideToggle("medium","linear");
    // $('#sign').slideToggle("medium","linear");
   })
</script>
    <script type="text/javascript" src="./source/placeholder.js"></script>
    <script type="text/javascript">
var tx = document.getElementById("tx"), pwd = document.getElementById("pwd");
tx.onfocus = function(){
if(this.value != "密码") return;
this.style.display = "none";
pwd.style.display = "";
pwd.value = "";
pwd.focus();
}
pwd.onblur = function(){
if(this.value != "") return;
this.style.display = "none";
tx.style.display = "";
tx.value = "密码";
}

</script>
<!-- 以上为ie不兼容placeholder而写的 -->

    <!--<script src="js/bootstrap.min.js"></script>-->
  </body>
</html>