<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>微伍V5-帮助</title>
      <meta charset="UTF-8" />

    <meta name="description" content="微伍——企业移动互联网解决方案" />
    <meta name="keywords" content="微伍, 微信, 移动互联, 企业" />
    <meta charset="utf-8">

      <style type="text/css">
          #contenttext2 p b
          {
              color: #000000;
              font-size: 10px;
              text-align: left;
              font-weight: normal;

          }

          #contenttext2 p img
          {
              max-width: 100% !important;
              height: auto!important;
              text-align: center;
              margin: 0 auto;

          }

       /*   #contenttext2 img
          {
              float: left;
          }
          #contenttext2 p
          {
              margin-top: 20px;
          }  */



      </style>


      <link rel="stylesheet" href="./template/default/base.css" />
      <link rel="stylesheet" href="./template/default/common.css" />
      <link rel="stylesheet" href="./template/default/nav.css" />

      <link rel="stylesheet" href="./template/default/success.css" />
      <link rel="stylesheet" href="./template/default/bottomWrapper.css" />

      <link rel="stylesheet" href="./template/default/helpCenter.css" />
      <script type="text/javascript" src="./source/jquery-1.9.0.min.js"></script>
      <script type="text/javascript" src="./source/jquery-1.10.2.js"></script>
      <script type="text/javascript" src="./source/helpCenter_effect.js"></script>
      <script type="text/javascript" src="./source/helpCenter_function.js"></script>



      <!-- myAll.js 文件包含我写的所有js函数。 lrx-->
      <script type="text/javascript" src="./source/myAll.js"></script>
      <script type="text/javascript"></script>
      <!--[if IE 6]>
      <script type="text/javascript" src="js/DD_belatedPNG.js"></script>
      <script type="text/javascript" src="js/IEwarning.js"></script>
      <script type="text/javascript" charset="utf-8">
          DD_belatedPNG.fix(".pngFix,.pngFix:hover");
      </script>
      <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">  
    <!-- Bootstrap -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
      <script type="text/javascript">
          $(function(){
              $("#detailTemplate").appendTo('#detail-panel');
          })

      </script>
     
    <style type="text/css">
        .companies .grid_3 span img{
             max-width:71px;max-height:71px;min-width:71px;min-height:71px;
          } 
        .companies .grid_4 img{
             max-width:172px;max-height:53px;min-width:172px;min-height:53px;
        }
        /*login hack*/
        #email,#tx,#pwd{
        margin-left:-12px;
        }

        body{
          color:#fff;
          background:#fff; 
        }
             </style>





      <script id="detailTemplate" type="text/x-jquery-tmpl">
          <a href="#">
              <table>
                  <tr>

                      <td class="info_text">
                          <div class="list_item_text">
                              <span class="list_item_title">$value1[message1]</span>
                              <br />

                          </div>
                      </td>
                  </tr>
              </table><!-- one -->
          </a>




      </script>




  </head>
  <body>

    <div class="wrapper"  style="background-color: white">
    <div class="navbar">
            <div class="navbar-inner container_36">
                <a class="logo grid_1" href="space.php?do=home"><img src="./template/default/image/logo.png"></a>
                <a href="home.php" class="grid_2">首页</a>
                <a href="buy.php" class="grid_2">套餐</a>
                <a href="cases.php" class="grid_2">成功案例</a>
                <a href="myhelp.php" class="grid_2"><p class="nav_actived">帮助</p></a>
                <div class="zz">
                    <a href="network.php?id=1"><div class="zhuce_1"><img src="./template/default/image/zhuceleft.fw.png"></div></a>
                    <a href="network.php?id=2"><div class="zhuce_2"><img src="./template/default/image/zhuceright.fw.png"></div></a>
                    <div style="clear: both"></div>
                </div>
             </div>
         </div>
    <!-- navbar end -->




        <div class="helpCenterBody" style="outline: snow;outline-color: white;outline-style: hidden">

            <div class="menubox">
                <div class="menuboxhelp"><span>帮 &nbsp;助</span></div>
                <div class="list2">
                    <ul>
                        <li><span>使用帮助</span></li>
                        <!--{if $value[developmentid]==60}-->  <li class="HaveChoose">· 开通流程
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 120px;top: 2px" ></li>
                        <!--{else}-->  <li class="choose">· 开通流程
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 120px;top: 2px" ></li>  <!--{/if}-->
                        <!--{if $value[developmentid]==70}-->   <li class="HaveChoose">· 管理员手册
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 104px;top: 2px"></li>
                        <!--{else}-->   <li class="choose">· 管理员手册
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 104px;top: 2px"></li> <!--{/if}-->
                        <!--{if $value[developmentid]==69}-->    <li class="HaveChoose">· 用户手册
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 120px;top: 2px"></li>
                        <!--{else}-->    <li class="choose">· 用户手册
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 120px;top: 2px"></li>  <!--{/if}-->
                    </ul>
                    <ul>
                        <li ><span>投诉与建议</span></li>
                        <!--{if $value[developmentid]==61}-->   <li class="HaveChoose">· 在线客服
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 120px;top: 2px"></li>
                        <!--{else}-->  <li class="choose">· 在线客服
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 120px;top: 2px"></li>  <!--{/if}-->
                        <!--{if $value[introduceid]==59}-->   <li class="HaveChoose">· 留言板
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 136px;top: 2px"></li>
                        <!--{else}-->    <li class="choose">· 留言板
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 136px;top: 2px"></li>   <!--{/if}-->
                    </ul>
                    <ul>
                        <li><span>合作</span></li>
                        <!--{if $value[developmentid]==62}-->   <li class="HaveChoose">· 品牌企业合作
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 88px;top: 2px"></li>
                        <!--{else}-->   <li class="choose">· 品牌企业合作
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 88px;top: 2px"></li>  <!--{/if}-->
                        <!--{if $value[developmentid]==63}-->   <li class="HaveChoose">· 媒体合作
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 120px;top: 2px"></li>
                        <!--{else}-->   <li class="choose">· 媒体合作
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 120px;top: 2px"></li><!--{/if}-->
                        <!--{if $value[developmentid]==72}-->   <li class="HaveChoose">· 收费细节
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 120px;top: 2px"></li>
                        <!--{else}-->  <li class="choose">· 收费细节
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 120px;top: 2px"></li> <!--{/if}-->
                    </ul>
                    <ul>
                        <li><span>关于我们</span></li>
                        <!--{if $value[productid]==49||$value==null}--> <li class="HaveChoose">· 产品介绍
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 120px;top: 2px"></li>
                        <!--{else}--> <li class="choose">· 产品介绍
                        <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 120px;top: 2px"></li> <!--{/if}-->
                        <!--{if $value[introduceid]==48}-->   <li class="HaveChoose">· 联系方式
                        <img src="./template/default/image/buttom2.png" class="buttom" style="left: 120px;top: 2px"></li>
                        <!--{else}--> <li class="choose">· 联系方式
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 120px;top: 2px"></li><!--{/if}-->
                        <!--{if $value[developmentid]==71}-->  <li class="HaveChoose">· 人才招聘
                            <img src="./template/default/image/buttom2.png" class="buttom" style="left: 120px;top: 2px"></li>
                        <!--{else}-->  <li class="choose">· 人才招聘
                            <img src="./template/default/image/buttom1_1.png" class="buttom" style="left: 120px;top: 2px"></li> <!--{/if}-->
                    </ul>
                </div>
                <div style="clear: both"></div>
            </div>

            <!-----------------------------------------------------功能分隔----------------------------------------------------->
            <div class="searchbox">
                <div class="search_pic"><img src="./template/default/image/helpCenterSearch.fw_r2_c4.png"></div>
                <div class="search_text">
                    <textarea rows="1" style="resize: none;outline: none">请输入问题关键字</textarea>
                </div>
                <div class="search_buttom"></div>
                <div style="clear: both"></div>
            </div>
            <!-----------------------------------------------------功能分隔----------------------------------------------------->
            <div class="contentbox">
                <div class="contenttitle"><span>$value[subject]</span></div>
                <div class="content_pic"></div>
                <div class="contenttext">
                <!--    <div id="detail-panel"></div>  -->
                    <div id="contenttext2">$value[message1]<div style="clear: both"></div> </div>
                    <div id="contenttext3">$value1[message1]</div>
                    <!--     <p>$value1[industryid]</p>
                         <p>$value1[message1]</p>  -->

                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <!-- 你的代码end -->

     </div>
    <div style="clear: both"></div>

<!--{template footer}-->
    <!--<script src="js/bootstrap.min.js"></script>-->
  </body>
</html>

