<!--{eval $_TPL['titles'] = array($debate['loupan'],$debate['subject'], '大擂台');}-->
<!--{template header}-->

<!--{if $space[self]}-->
<script type="text/javascript" charset="$_SC[charset]" src="source/script_calendar.js"></script>
<div  style="padding:0 0 10px;">
            <div class="content" style="font-size:15px;">
            	<div class="indexing" style="margin-bottom:15px;">
                  <span><a href="space.php?do=home">首页</a></span>><span><a href="space.php?do=debate">大擂台</a></span>
                 </div>
				     <div class="bread container_12">
        <div class="bread_actived grid_1">
        	查看辩论
        </div>
    </div>
	<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "辩论";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=$do&view=me\">查看全部辩论</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->
<style type="text/css">
/*其他主题类型样式*/
.r_one{color:#555;}
.s8,.s8 a,.s8 a:hover{color:#1bb9ea;}
.s7,.s7 a{color:#ff00a2;}
.s1{color:#008000;} /*绿色*/
.s3{color:#ff6600;} /*橙色*/
.s9{line-height:25px;padding:0 .8em;}
.dig2{height:25px;line-height:25px;display: inline-block;font-size:12px;background:#ffffee;width:80px;cursor: pointer;margin:.5em 0;color:#666;border:1px solid #ffd0a8;}
.dig2:hover{text-decoration:none;border:1px solid #f5a25c;color:#ff6600;}
.gogo{height:35px;line-height:30px;color:#777; text-align:center}
.tab2{background:#e4e4e4;margin-top:4px;height:100px;}
.tab2 .one{background:url(image/tab-one.gif) left center repeat-y;width:50px;}
.tab2 .two{background:url(image/tab-two.gif) left center repeat-y;width:50px;}

.dig3{border:1px solid #ee6821;margin:.5em 2em}
.dig3 span{background:#ee6821;color:#fff;height:25px;line-height:25px;padding:0 .5em;}
.dig3 div{cursor:pointer;height:25px;line-height:25px;padding:0 .5em;background:#fff;}
.dig4{border:1px solid #23bceb;margin:.5em 2em}
.dig4 span{background:#23bceb;color:#fff;height:25px;line-height:25px;padding:0 .5em;}
.dig4 div{cursor:pointer;height:25px;line-height:25px;padding:0 .5em;background:#fff;}
.dig5{background:#ffffee;height:25px;line-height:25px;border:1px solid #f5a25c;color:#ff6600;width:80px;margin:.5em 2em;}

.vote{margin:10px auto;background:$bgcolor;width:90%;padding:5px 8px;border:1px solid #f9f9f9;line-height:22px;}

.vs-new{background:url(image/vs-new.png) no-repeat;width:110px;height:110px;}
.vs-old{background:url(image/vs-old.png) no-repeat;width:110px;height:110px;}
/*伪类按钮*/
.bta{cursor:pointer;color:#333333;padding:2px 8px;background:#f9f9f9;margin:2px;white-space:nowrap;border:1px solid #dbe4e9;}
</style>
                 <div class="content_detail_wrapper">
                      <div class="content_page_detail">
                           <div class="content_title">$debate[subject]</div>
                           <div class="content_text_detail" style="text-align: center;margin-bottom:10px;margin-top:10px;font-size:12px;">作者 : $debate[umpire]&nbsp;|&nbsp;发布时间 : <!--{date('Y-m-d H:i:s',$debate[dateline])}--></div>
                           <div class="content_text_detail"style="overflow:hidden">
                               <p>$debate[message]</p>
                           </div>
						   	<div style="margin:auto;width:700px;padding-top:30px; background-color: white;">
		<div class="gogo tac">
<!--{if $debate[judge]}-->
此辩论已结束，裁判 <b><a href="space.php?username=$debate[umpire]" style="color:#1DB8AE;">$debate[umpire]</a></b> 宣布：
<!--{if $debate[judge]==1}-->
<b class="s3" style="color:#1DB8AE;">正方胜</b>
<!--{elseif $debate[judge]==3}-->
<b class="s8" style="color:#1DB8AE;">反方胜</b>
<!--{else}-->
<b class="s1" style="color:#1DB8AE;">平局</b>
<!--{/if}-->
，最佳辩手：<a href="space.php?username=$debate[debater]" target="_blank"><b class="s7">$debate[debater]</b></a>
<!--{elseif $debate['endtime'] < $_SGLOBAL[timestamp] }-->
此辩论已结束，等待裁判宣布辩论结果。。。
<!--{else}-->

辩论结束时间 <b><!--{date('Y-m-d H:i',$debate[endtime])}--></b> -- 裁判：<b><a href="space.php?username=$debate[umpire]" style="color:#1DB8AE;">$debate[umpire]</a></b>
<!--{/if}-->
<!--{if $_SGLOBAL[supe_username]==$debate[umpire] }-->
<a href="cp.php?ac=debate&debateid=$debate[debateid]&op=judgedebate" id="debate_judge_$debate[debateid]" onclick="ajaxmenu(event, this.id)" class="dig2" style="color:white; background-color:#1DB8AE; ">裁判点评</a>
<!--{/if}-->
<!--{if $debate[obvote] || $debate[revote]}-->
<!--{eval $tmpVotes = $debate[revote]+$debate[obvote]}-->
<!--{eval $tmpob = round($debate[obvote]/$tmpVotes,2)*100;}-->
<!--{eval $tmpre = round($debate[revote]/$tmpVotes,2)*100;}-->
<!--{/if}-->
		</div>
<table border="0" cellspacing="0" cellpadding="0" width="100%;" style="padding-top:5px;">
<tr><td width="40%">
<table border="0" cellspacing="0" cellpadding="0" width="100%;">
<tr>
<td style="width:100px;" class="tac">
<center>
<div>- <b><span id="obvote" class="s3">$debate[obvote]</span></b> 票 -</div>
<table class="tab2" border="0" cellspacing="0" cellpadding="0" width="50">
<tr><td id="obimgre" class="no" height="$tmpre%"></td></tr>
<tr><td id="obimgob" class="one tac" height="$tmpob%"></td></tr>
</table>
<div class="c"></div>
<a href="cp.php?ac=debate&debateid=$debate[debateid]&op=opvote" id="debate_opvote_$debate[debateid]" onclick="ajaxmenu(event, this.id)" class="dig2" style="color:white; background-color:#1DB8AE; ">支持正方</a> </center>
</td><td valign="top">
<div class="vote">
<span class="s8">正方观点：</span><br /> $debate[obtitle]
</div>
<span class="gray" style="margin-left:1em;">辩手：$obvotenum 人</span>
</td></tr>
</table>
</td>
<td width="10%">
<!--{if $debate[judge] }-->
<div class="vs-old"></div>
<!--{else}-->
<div class="vs-new"></div>
<!--{/if}-->
</td>
<td width="40%">
<table border="0" cellspacing="0" cellpadding="0" width="100%;" >
<tr>
<td valign="top">
<div class="vote">
<span class="s8">反方观点：</span><br /> $debate[retitle]
</div>
<span class="gray" style="margin-left:1em;">辩手：$revotenum 人</span>
</td>
<td style="width:100px;" class="tac">
<center>
<div>- <b><span id="revote" class="s8">$debate[revote]</span></b> 票 -</div>
<table class="tab2" border="0" cellspacing="0" cellpadding="0" width="50">
<tr><td id="reimgob" class="no" height="$tmpob%"></td></tr>
<tr><td id="reimgre" class="two tac" height="$tmpre%"></td></tr>
</table>
<div class="c"></div>
<a href="cp.php?ac=debate&debateid=$debate[debateid]&op=revote" id="debate_revote_$debate[debateid]" onclick="ajaxmenu(event, this.id)" class="dig2" style="color:white; background-color:#1DB8AE; ">支持反方</a>
 </center>
</td></tr>
</table>
</td>
</tr>
</table>
<!--{if $debate[judge] && $debate[umpirepoint] }-->
<div class="vote"><span class="s1" style="color:#1DB8AE;">裁判点评 ：</span>$debate[umpirepoint]</div>
<!--{/if}-->

</div>
<div class="feed_action">
  	<ul>
        <li>阅览（$debate[viewnum]）</li>
        <!--{if $debate['replynum']}--><li>评论（$debate['replynum']）</li>
        <!--{else}--><li>评论（0）</li><!--{/if}-->
        <!--{if $_SGLOBAL[supe_uid] == $debate[uid] || checkperm('managedebate')}-->
        <li><a href="cp.php?ac=debate&debateid=$debate[debateid]&op=edit">修改</a></li>
        <li><a href="cp.php?ac=debate&debateid=$debate[debateid]&op=delete" id="debate_delete_$debate[debateid]" onclick="ajaxmenu(event, this.id)">删除</a></li>
        <!--{/if}-->
  	</ul>
</div>
            <div class="comments" id="div_main_content">
		

		<!--{if !$debate[noreply]}-->
		<form id="quickcommentform_{$id}" name="quickcommentform_{$id}" action="cp.php?ac=debatecomment" method="post" class="quickpost">

			<table cellpadding="0" cellspacing="0">
							<tr>
					<td><!--{if !in_array($_SGLOBAL[supe_uid],$obvoteuids) && !in_array($_SGLOBAL[supe_uid],$revoteuids)}--><select name="debatetype"><option value="0">支持正方</option><option value="1">支持反方</option></select><br><!--{/if}-->
					</td>
				</tr>
				<tr>
					<td>
						<input type="hidden" name="refer" value="space.php?uid=$debate[uid]&do=$do&id=$id" />
						<input type="hidden" name="id" value="$id">
						<input type="hidden" name="commentsubmit" value="true" />
                         <!--{if in_array($_SGLOBAL[supe_uid],$obvoteuids)}-->
                        <input type="button" id="commentsubmit_btn" name="commentsubmit_btn"  value="支持正方" style="background:#1DB8AE;color:white;width:100px;height:36px;font-size:18px;" />
                        <input type="hidden" name="debatetype" value="0">
                      <!--{elseif in_array($_SGLOBAL[supe_uid],$revoteuids)}-->   
                        <input type="button" id="commentsubmit_btn" name="commentsubmit_btn" class="submit" value="支持反方" style="background:#1DB8AE;color:white;width:100px;height:36px;font-size:18px;" />  <input type="hidden" name="debatetype" value="1">
                       <!--{else}-->
                        <!--{/if}-->
						
						<div id="__quickcommentform_{$id}"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="###" id="comment_face" title="插入表情" onclick="showFace(this.id, 'comment_message');return false;"><img src="image/facelist.gif" align="absmiddle" /></a>
						<!--{if $_SGLOBAL['magic']['doodle']}-->
						<a id="a_magic_doodle" href="magic.php?mid=doodle&showid=comment_doodle&target=comment_message" onclick="ajaxmenu(event, this.id, 1)"><img src="image/magic/doodle.small.gif" class="magicicon" />涂鸦板</a>
						<!--{/if}-->
						<br />
						<textarea id="comment_message" onkeydown="ctrlEnter(event, 'commentsubmit_btn');" name="message" rows="5" style="width:560px;height:105px;float:left;"></textarea>
						<div class="comment_wrapper container_12" style="margin:0px;">
						<input type="hidden" name="refer" value="space.php?uid=$debate[uid]&do=$do&id=$id" />
						<input type="hidden" name="id" value="$id">
						<input type="hidden" name="commentsubmit" value="true" />
                         <!--{if in_array($_SGLOBAL[supe_uid],$obvoteuids)}-->
                        <input type="submit" id="commentsubmit_btn" name="commentsubmit_btn" class="submit"  onclick="validate(this);" value="发布" style="font-size:26px;width:123px;height:107px;float:left;margin-left:24px;"/>
                        <input type="hidden" name="debatetype" value="0">
                      <!--{elseif in_array($_SGLOBAL[supe_uid],$revoteuids)}-->   
                        <input type="submit" id="commentsubmit_btn" name="commentsubmit_btn" class="submit"  onclick="validate(this);" value="发布" style="font-size:26px;width:123px;height:107px;float:left;margin-left:24px;" />  
						<input type="hidden" name="debatetype" value="1">
                       <!--{else}-->
                       <input type="submit" id="commentsubmit_btn" name="commentsubmit_btn" class="submit"  onclick="validate(this);" value="发布" style="font-size:26px;width:123px;height:107px;float:left;margin-left:24px;"/>
                        <!--{/if}-->
						
						<div id="__quickcommentform_{$id}"></div>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<input type="hidden" name="refer" value="space.php?uid=$debate[uid]&do=$do&id=$id" />
						<input type="hidden" name="id" value="$id">
						<input type="hidden" name="idtype" value="debateid">
						<input type="hidden" name="commentsubmit" value="true" />
						
						<div id="__quickcommentform_{$id}"></div>
					</td>
				</tr>
			</table>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>
		<br />
		<!--{/if}-->
	</div>
	<!--{if ($debate['replynum'])}-->
	<div style="width:100%;">
		<div class="comments_list" id="comment" style="float:left;width:48%;">
			<!--{if $cid}-->
			<div class="notice">
				当前只显示与你操作相关的单个评论，<a href="space.php?uid=$introduce[uid]&do=debate&id=$debate[debateid]">点击此处查看全部评论</a>
			</div>
			<!--{/if}-->
			<h3 align="center">正方辩论</h3>
			<ul id="comment_ul">
			<!--{loop $oblist $value}-->
				<!--{template space_debateobcomment_li}-->
			<!--{/loop}-->
			</ul>
			<div class='pagination'><ul>$obmulti</ul></div>
		</div>
		
		<div class="comments_list" id="comment" style="float:right;width:48%;">
			<!--{if $cid}-->
			<div class="notice">
				当前只显示与你操作相关的单个评论，<a href="space.php?uid=$introduce[uid]&do=debate&id=$debate[debateid]">点击此处查看全部评论</a>
			</div>
			<!--{/if}-->
			<h3  align="center">反方辩论</h3>
			<ul id="comment_ul">
			<!--{loop $relist $value}-->
				<!--{template space_debaterecomment_li}-->
			<!--{/loop}-->
			</ul>
			<div class='pagination'><ul>$remulti</ul></div>
		</div>
	</div><!--{/if}-->
	<div id="bottom"></div>
		



                           </div>
                      </div>
                 </div>
                 
                </div>
     
              






<script type="text/javascript">
<!--
function closeSide2(oo) {
	if($('sidebar').style.display == 'none'){
		$('content').style.cssText = '';
		$('sidebar').style.display = 'block';
		oo.innerHTML = '&raquo; 关闭侧边栏';
	}
	else{
		$('content').style.cssText = 'margin: 0pt; width: 810px;';
		$('sidebar').style.display = 'none';
		oo.innerHTML = '&laquo; 打开侧边栏';
	}
}
function addFriendCall(){
	var el = $('friendinput');
	if(!el || el.value == "")	return;
	var s = '<input type="checkbox" name="fusername[]" value="'+el.value+'" id="'+el.value+'" checked>';
	s += '<label for="'+el.value+'">'+el.value+'</label>';
	s += '<br />';
	$('friends').innerHTML += s;
	el.value = '';
}
resizeImg('introduce_article','700');
resizeImg('div_main_content','450');

//彩虹炫
var elems = selector('div[class~=magicflicker]'); 
for(var i=0; i<elems.length; i++){
	magicColor(elems[i]);
}

-->
</script>

<!--{template footer}-->



	

		


