<!--{eval $_TPL['titles'] = array($moblie['subject'], '手机模版');}-->
<!--{eval $friendsname = array(1 => '仅好友可见',2 => '指定好友可见',3 => '仅自己可见',4 => '凭密码可见');}-->
<!--{template header}-->

<!--{if $space[self]}-->


<!--{else}-->
<!--{eval
	$_TPL['spacetitle'] = "手机模版";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=$do&view=me\">TA的所有手机模版</a>";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=moblie&id=$moblie[moblieid]\">查看手机模版</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<script type="text/javascript" charset="$_SC[charset]" src="source/script_calendar.js"></script>
<div style="padding:0 0 10px;">


            <div class="content" style="font-size:15px;">
            	<div class="indexing" style="margin-bottom:15px;">
                 <span><a href="space.php?do=home">首页</a></span>><span><a href="space.php?do=moblie&view=me">手机模版</a></span>
                 </div>
                 <div class="content_detail_wrapper">
                      <div class="content_page_detail">
                           <div class="content_title">$moblie[subject]</div>

                           <div class="content_text_detail" style="text-align: center;margin-bottom:10px;margin-top:10px;font-size:12px;">作者 : {$_SN[$moblie[uid]]}&nbsp;|&nbsp;发布时间 : <!--{date('Y-m-d H:i:s',$moblie[dateline])}--></div>
                            <div class="content_text_detail"style="overflow:hidden">
                           <img src="$moblie[imageurl]"/>
                           </div>
                           <div class="content_text_detail"style="overflow:hidden">
                               <p>$moblie[message]</p>
                           </div>
                           <div class="feed_action">
                              <ul>
                                 <li>阅览（$moblie[viewnum]）</li>
                                 <li>评论（$moblie[replynum]）</li>
                                  <!--{if {$_SN[$_SGLOBAL[supe_uid]]}=='admin'}-->
                                 <li><a href="cp.php?ac=moblie&moblieid=$moblie[moblieid]&op=edit">修改</a></li>
                                 <li><a href="cp.php?ac=moblie&moblieid=$moblie[moblieid]&op=delete" id="blog_delete_$moblie[moblieid]" onclick="ajaxmenu(event, this.id)">删除</a></li>
                                 <!--{/if}-->
                              </ul>
                           </div>
            <div class="comments" id="div_main_content">
		

		<!--{if !$moblie[noreply]}-->
		<form id="quickcommentform_{$id}" name="quickcommentform_{$id}" action="cp.php?ac=comment" method="post" class="quickpost">

			<table cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<a href="###" id="comment_face" title="插入表情" onclick="showFace(this.id, 'comment_message');return false;"><img src="image/facelist.gif" align="absmiddle" /></a>
						<!--{if $_SGLOBAL['magic']['doodle']}-->
						<a id="a_magic_doodle" href="magic.php?mid=doodle&showid=comment_doodle&target=comment_message" onclick="ajaxmenu(event, this.id, 1)"><img src="image/magic/doodle.small.gif" class="magicicon" />涂鸦板</a>
						<!--{/if}-->
						<br />
						<textarea id="comment_message" onkeydown="ctrlEnter(event, 'commentsubmit_btn');" name="message" rows="5" style="width:560px;height:105px;float:left;"></textarea>
						<div class="comment_wrapper container_12" style="margin:0px;">
						<div class="comment_btn grid_2" id="commentsubmit_btn" name="commentsubmit_btn"  value="评论" onclick="ajaxpost('quickcommentform_{$id}', 'comment_add')">发布</div>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<input type="hidden" name="refer" value="space.php?uid=$moblie[uid]&do=$do&id=$id" />
						<input type="hidden" name="id" value="$id">
						<input type="hidden" name="idtype" value="moblieid">
						<input type="hidden" name="commentsubmit" value="true" />
						
						<div id="__quickcommentform_{$id}"></div>
					</td>
				</tr>
			</table>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>
		<br />
		<!--{/if}-->
	</div>


		<div class="comments_list" id="comment">
			<!--{if $cid}-->
			<div class="notice">
				当前只显示与你操作相关的单个评论，<a href="space.php?uid=$moblie[uid]&do=moblie&id=$moblie[moblieid]">点击此处查看全部评论</a>
			</div>
			<!--{/if}-->
			<ul id="comment_ul">
			<!--{loop $list $value}-->
				<!--{template space_comment_li}-->
			<!--{/loop}-->
			</ul>
		</div>
		<div class='pagination'><ul>$multi</ul></div>

		



                           </div>
                      </div>
                 </div>
                 
                </div>
     
              






<script type="text/javascript">
<!--
function closeSide2(oo) {
	if($('sidebar').style.display == 'none'){
		$('content').style.cssText = '';
		$('sidebar').style.display = 'block';
		oo.innerHTML = '&raquo; 关闭侧边栏';
	}
	else{
		$('content').style.cssText = 'margin: 0pt; width: 810px;';
		$('sidebar').style.display = 'none';
		oo.innerHTML = '&laquo; 打开侧边栏';
	}
}
function addFriendCall(){
	var el = $('friendinput');
	if(!el || el.value == "")	return;
	var s = '<input type="checkbox" name="fusername[]" value="'+el.value+'" id="'+el.value+'" checked>';
	s += '<label for="'+el.value+'">'+el.value+'</label>';
	s += '<br />';
	$('friends').innerHTML += s;
	el.value = '';
}
resizeImg('moblie_article','700');
resizeImg('div_main_content','450');

//彩虹炫
var elems = selector('div[class~=magicflicker]'); 
for(var i=0; i<elems.length; i++){
	magicColor(elems[i]);
}

-->
</script>

<!--{template footer}-->



	

		


