<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>leanModal - a JQuery modal plugin that works with your CSS - liehuo.Net</title>
		<meta name="description" content="leanModal - a JQuery modal plugin that works with your CSS" />
		<link rel="stylesheet" type="text/css" href="./template/default/style2.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="./template/default/jquery.leanModal.min.js"></script>
		<script type="text/javascript">
			$(function() {
    			$('a[rel*=leanModal]').leanModal({ top : 200 });		
			});
		</script>
	</head>
	<body>
		<div class="section-split">
		
		
		<p id="examples" class="section box">
			<strong>Examples:</strong>
			<a id="go" rel="leanModal" name="signup" href="#signup">Sign Up Form</a> 
		</p>


		<div id="signup">
			$urlCameraFlash
</div>
				 </form>
			</div>
		</div>
	</body>
</html>