<div class="content" style="font-size:15px;">
          
                 <div class="indexing">
                 <span><a href="space.php?do=home">首页</a></span>><span><a href="space.php?do=talk&view=me">在线沟通</a></span>><span>发布</span>
                 </div><!-- end -->
                 <div class="bread container_12">
                     <div class="bread_actived grid_1">
                         发布
                     </div>
                     <a href="space.php?do=talk&view=me" class="link_back_bread grid_3">
                      在线沟通
                     </a>
                 </div>
<div class="content_detail_wrapper">
                    <div class="post_wrapper" style="margin:0 auto;text-align:center;">


<form method="post" id="talkform" action="cp.php?ac=talk&view=$_GET[view]" class="post_talk">
标题&nbsp;&nbsp;:&nbsp;&nbsp;<textarea id="subject" name="subject"  rows="4" style="width:538px; height: 22px;"></textarea><br/>
内容:
<a href="###" id="talkface" onclick="showFace(this.id, 'message');return false;"><img src="image/facelist.gif" align="absmiddle" /></a><br/>
<!--{if checkperm('seccode')}-->
	<!--{if $_SCONFIG['questionmode']}-->
	回答提问：<!--{eval question();}--> 
	<!--{else}-->
	输入验证码：<script>seccode();</script> 
	<!--{/if}-->
	<input type="text" id="seccode" name="seccode" value="" size="10" class="t_input">
<!--{/if}-->


<textarea id="message" name="message" onkeyup="textCounter(this, 'maxlimit', 200)" onkeydown="ctrlEnter(event, 'add');" rows="4" style="width:538px; height: 172px;"></textarea><br/>还可输入 <strong id="maxlimit">200</strong> 个字符<br/>
<input type="hidden" name="addsubmit" value="true" />
<button type="submit" id="add" name="add" class="post_button">发布</button>
<input type="hidden" name="refer" value="$theurl" />
<input type="hidden" name="topicid" value="$topicid" />
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
</div>