<div style="border-bottom:1px dashed #999;margin-top:10px;">
<div class="comment_list container_12" style="margin-left:60px;">
	<!--{if $value[author]}-->
	<div class="avatar48"><a href="space.php?uid=$value[authorid]"><!--{avatar($value[authorid],small)}--></a></div>
	<!--{else}-->
	 <img src="image/magic/hidden.gif" class="grid_1">
	<!--{/if}-->
     <div class="grid_2">
                                      <h6><span class="commenter">
                                      	<!--{if $value[author]}-->
		<a href="space.php?uid=$value[authorid]" id="author_$value[cid]"  style="color:#02B4AB;">{$_SN[$value[authorid]]}</a> 
		<!--{else}-->
		匿名
		<!--{/if}-->:</span>
		<span class="comment_text">$value[message]</span></h6>
        <span class="comment_time"><!--{date('Y-m-d H:i',$value[dateline],1)}--></span>
        </div>
 </div> <br/></div>

