<!DOCTYPE html>
<html>
  <head>
    <title>套餐</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" href="./template/default/base.css" />
    <link rel="stylesheet" href="./template/default/common.css" />
    <link rel="stylesheet" href="./template/default/nav.css" />
    <link rel="stylesheet" href="./template/default/bottomWrapper.css" />
    <link rel="stylesheet" href="./template/default/setItem.css" />
    <link rel="stylesheet" href="./template/default/set.css" />
    <script type="text/javascript" src="./source/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="./source/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="./source/set_html_effect.js"></script>
    <script type="text/javascript" src="./source/set_html_function.js"></script>
    <script type="text/javascript"></script>
  <!--[if IE 6]>
    <script type="text/javascript" src="js/DD_belatedPNG.js"></script>
        <script type="text/javascript" src="js/IEwarning.js"></script>
      <script type="text/javascript" charset="utf-8">
        DD_belatedPNG.fix(".pngFix,.pngFix:hover");      
      </script>
   <![endif]-->
        <!--[if IE 7]>
        <script type="text/javascript" src="js/IEwarning.js"></script>
        <![endif]-->
   <!-- 修复ie6透明png的bug -->
  </head>
 <!-- Bootstrap -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
     
    <style type="text/css">
        .wrapper {
          background-color: #fff;
        }
        .companies .grid_3 span img{
             max-width:71px;max-height:71px;min-width:71px;min-height:71px;
          } 
        .companies .grid_4 img{
             max-width:172px;max-height:53px;min-width:172px;min-height:53px;
        }
        /*login hack*/
        #email,#tx,#pwd{
        margin-left:-12px\9;
        }
             </style>
  </head>
  <body>
    <div class="page bc">
  
       <div class="navbar">
            <div class="navbar-inner container_36">
                <a class="logo grid_1" href="space.php?do=home" style="background:none;"><img src="./template/default/image/logo.png"></a>
                <a href="#" class="grid_5" style="float:right;color:#BDBEBF;padding-right:10px;">帮助</a>
             </div>
         </div>
         <!-- navbar end -->

   <!--{if empty($zhong1)}--><div class="content" style="font-size:15px;width:760px;"><img src="./template/default/image/guide_chosen.png" style="margin:20px 20px 0px 28px;"></div><!--{/if}-->
     <div class="wrapper">
    <div class="setItem" id="setItem1"><br/><br/>
      <img src="./template/default/image/img/title_set01.png" alt="" class="setItem-titlePic" />
      <div class="setContent" id="set1">
        <img src="./template/default/image/img/mid_pic_01.png" alt="" class="setContent-pic" />
        <dl class="setContent-text">
          <dt class="fb">一经注册开通，免费套餐任你玩</dt>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">企业介绍，</span>详尽企业介绍，品牌强势进驻公众平台。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">企业动态，</span>动态实时更新，劲爆猛料火线速递。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">产品介绍，</span>完美图文展示，优质产品吸引更多关注。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">企业官网，</span>手机品牌官网，行业先驱非您莫属。</dd>
        </dl>
      </div>
      <form action = "space.php?do=menuset&status=taocan&id=mianfei" method = "post" name="mianfei">
      <!--{loop $mianfei $value}-->
      <input type='hidden' name='$value[menusetid]' value='1' style='width:20px;' />
    <!--{/loop}-->
     <a href="javascript:document.mianfei.submit();" class="setButton" id="firstButton"><img src="./template/default/image/img/use_now3.png" alt="" /></a>
     </form>
     <br/>
    </div> <!-- setItem --> 

    <div class="setItem" id="setItem2">
      <img src="./template/default/image/img/title_set02.png" alt="" class="setItem-titlePic" />
      <div class="setContent" id="set2">
        <img src="./template/default/image/img/mid_pic_02.png" alt="" class="setContent-pic" />
        <dl class="setContent-text">
          <dt class="fb">完美补充传统官网，企业在移动互联网轻松获得更多口碑</dt>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">企业介绍，</span>详尽企业介绍，品牌强势进驻公众平台。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">企业动态，</span>动态实时更新，劲爆猛料火线速递。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">产品介绍，</span>完美图文展示，优质产品吸引更多关注。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">行业动态，</span>把握行业脉搏，与客户分享最具行业价值信息。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">成功案例，</span>成功是时间的积累，您的实力谁能置疑？</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">分支机构，</span>罗列所有驻点，客户总能找到身边的您。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">人才招聘，</span>网罗微信时代人才，轻松开展微招聘。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">企业官网，</span>海量手机官网模板，改版升级轻松设置。</dd>
        </dl>
      </div>
      <form action = "space.php?do=menuset&id=putong&status=taocan" method = "post" name="putong">
      <!--{loop $putong $value}-->
      <input type='hidden' name='$value[menusetid]' value='1' style='width:20px;' />
    <!--{/loop}-->
    <a href="javascript:document.putong.submit();" class="setButton" id="secondButton"><img src="./template/default/image/img/buy_now3.png" alt="" /></a>
     </form>
     
     <br/>
    </div> <!-- setItem --> 

    <div class="setItem"  id="setItem3">
      <img src="./template/default/image/img/title_set03.png" alt="" class="setItem-titlePic" />
      <div class="setContent" id="set3">
        <img src="./template/default/image/img/mid_pic_03.png" alt="" class="setContent-pic" />
        <dl class="setContent-text">
          <dt class="fb">摇身一变，微信app轻松获得，更低的推广成本，更高的经济效益。
                    </dt>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">自定义菜单，</span>微信内置app折叠菜单，更直观，更方便。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">微信商城，</span>开设微信商城，马上启程新渠道电商之路。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">焦点推荐，</span>设置醒目焦点内容推荐，锁住客户关注。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">微信呼叫中心，</span>多层级客服响应处理，客户一呼百应。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">客户管理中心，</span>沉淀转化优质客户，定点精准开展二次营销。</dd>
        </dl>
      </div>
      <form action = "space.php?do=menuset&id=gaoji&status=taocan" method = "post" name="gaoji">
      <!--{loop $gaoji $value}-->
      <input type='hidden' name='$value[menusetid]' value='1' style='width:20px;' />
    <!--{/loop}-->
    <a href="javascript:document.gaoji.submit();" class="setButton" id="thirdButton"><img src="./template/default/image/img/buy_now_green5.png" alt="" /></a>
     </form>
       
      <br/>
    </div> <!-- setItem --> 

    <div class="setItem" id="setItem4">
      <img src="./template/default/image/img/title_set04.png" alt="" class="setItem-titlePic" />
      <div class="setContent" id="set4">
        <img src="./template/default/image/img/mid_pic_04.png" alt="" class="setContent-pic" />
        <dl class="setContent-text">
          <dt class="fb">囊括各大领域解决方案，业务服务开展高度契合，聚集品牌口碑，备受推崇。</dt>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">零售行业，</span>通过微信公众账号作为电商入口，将线下每个零售店铺搬到微信公众平台上。新货上架、活动优惠信息，借助朋友圈口碑营销的威力，促进消费。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">餐饮行业，</span>通过提供分支机构、预约订餐、客户信息统计、会员卡获取特权等功能，最大力度活跃客户，开始全民O2O时代。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">教育机构，</span>通过预约预订、客户管理、在线调查、咨询留言等功能，实现课程活动预约报名、校内选课、查看课表、课堂互动等功能，结合后台统计功能，合理展开教学安排，实现微时代的信息化管理。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">个人机构，</span>通过预约预订、客户管理、咨询留言等功能，依赖微信强关系的社交特质，轻松开展私密性个人服务，打造个人服务品牌。</dd>
          <dd><img src="./template/default/image/img/list_point.png" alt="" /><span class="fb">服务消费，</span>通过分支机构、预约服务、客户信息统计、会员卡获取特权等功能，让用户和商家享受到便捷的服务和管理。</dd>
        </dl>
      </div>
    </div> <!-- setItem --> 
  </div>
  
<!--{template footer}-->
    <!--<script src="js/bootstrap.min.js"></script>-->
          

      </script>



 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type='text/javascript' src='./source/jquery.simplemodal.js'></script>
    <script type="text/javascript">
       $(document).ready(function(){

        $(".modalCloseImg").click(function(){
         $('#allbuy').hide();
        });
        $('#basic-modal-content$value[menusetid]').attr("style", "display:none;");
          <!--{if empty($space[weixinusername])&&empty($space[weixinpassword])}-->
        $('#weixin').attr("style", "display:none;");
        $('#weixin').modal();
        $('#weixin').attr("style", "display:block;");
              <!--{/if}-->
           $('#basic-modal input.basic$value[menusetid], #basic-modal a.basic$value[menusetid]').click(function (e) {
    e.preventDefault();
    $('#basic-modal-content$value[menusetid]').modal();
  });

            
       })
    </script>
    <!--{/loop}-->
 <div id="weixin">
    <style type="text/css">
      #simplemodal-container{height:300px;}
    </style>
  <!--{if empty($zhong1)}-->
  <!--{if empty($space[weixinusername])&&empty($space[weixinpassword])}-->
   <!--{if 1}-->
  <form action = "space.php?do=goweixin" method = "post" style="margin:0 auto;text-align:center;">
    <br/>
   <h3 style="font-size:20px;color:#44B1BA;margin-left:-10px;line-height:40px;">你的微信登录名：<input type="text" name="weixinusername"></h3>
    <h3 style="font-size:20px;color:#44B1BA;margin:0;line-height:40px;padding-left:10px;">你的微信密码：<input type="text" name="weixinpassword"></h3><br/>
    <input type="submit" name="submit" style="margin-left:250px;" class="btn grid_2" value="提交">
    <input type="hidden" name="alreadyweixin" value="1">
    </form>
  <!--{else}-->
  <!--{if !empty($newweixin[username])}-->
  <form action = "space.php?do=goweixin" method = "post">
  <h3 style="font-size:20px;color:#44B1BA;background:#ECEFF1;margin:0;line-height:40px;text-align:left;padding-left:10px;">系统已自动为你生成微信公众号，如你已有微信公众号，可<a href="space.php?do=menuset&status=already">点击此处</a></h3>
  <h3 style="font-size:20px;color:#44B1BA;background:#ECEFF1;margin:0;line-height:40px;text-align:left;padding-left:10px;">你的微信id：$newweixin[wxkey]</h3>
   <h3 style="font-size:20px;color:#44B1BA;background:#ECEFF1;margin:0;line-height:40px;text-align:left;padding-left:10px;">你的微信用户名：$newweixin[username]</h3>
    <h3 style="font-size:20px;color:#44B1BA;background:#ECEFF1;margin:0;line-height:40px;text-align:left;padding-left:10px;">你的微信密码：$newweixin[password]</h3>
     <input type="hidden" name="username" value="$newweixin[username]">
     <input type="hidden" name="password" value="$newweixin[password]">
     <input type="hidden" name="fakeid" value="$newweixin[fakeid]">
     <input type="hidden" name="wxkey" value="$newweixin[wxkey]">
     <input type="hidden" name="id" value="$newweixin['id']">
    <input type="submit" name="submit" value="使用">
    <input type="hidden" name="newweixin" value="1">
    </form>
    <!--{else}-->
    <h3 style="font-size:20px;color:#44B1BA;background:#ECEFF1;margin:0;line-height:40px;text-align:left;padding-left:10px;">目前还未有微信公众号</h3>
     <!--{/if}-->
     <!--{/if}-->
     <!--{/if}-->
     <!--{/if}-->

</div>

 

