<!--{eval $_TPL['titles'] = array(货到付款内容);}-->
<!--{eval $friendsname = array(1 => '仅好友可见',2 => '指定好友可见',3 => '仅自己可见',4 => '凭密码可见');}-->
<!--{template header}-->
<link rel="stylesheet" type="text/css" href="template/default/jquery-mobile-fluid960.min.css">
<link rel="stylesheet" type="text/css" href="template/default/style1.css">
<link rel="stylesheet" type="text/css" href="template/default/file_beauty.css">
<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_blog" class="feed">
		<h3 class="feed_header">
			<a href="cp.php?ac=introduce" class="r_option" target="_blank">发布</a>
		</h3>
		<!--{if $count}-->
		<ul class="line_list">
		<!--{loop $list $value}-->
			<li>
				<span class="gray r_option"><!--{date('m-d H:i',$value[dateline],1)}--></span>
				<h4><a href="space.php?uid=$space[uid]&do=introduce&id=$value[introduceid]" target="_blank" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a></h4>
				<div class="detail">
					$value[message1]
				</div>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">还没有相关的货到付款内容。</div>
		<!--{/if}-->
	</div>
<!--{else}-->

<!--{if $space[self]}-->
<div class="content" style="font-size:15px;">
          
                 <div class="indexing">
                   <span><a href="space.php?do=home">首页</a></span>><span>订单管理系统</span>
                 </div><!-- end -->
                 <div class="bread container_12">
                     <a href="space.php?do=order"  class="link_back_bread grid_3">
                        全部
                     </a>
         
                     <a href="#" id="weizhong" class="btn grid_2">
                      更改订单配置
                     </a>
                 </div>	

 

<!--{/if}-->
		
<div id="content" style="width:760px;">
<script type="text/javascript" charset="$_SC[charset]" src="source/script_calendar.js"></script>
<div class="content_detail_wrapper" style="min-height: 1024px;">

 <!--{if $_GET['cod']!='5'}-->
 		<!--{if $list}-->
		<!--{loop $list $value}-->
                     <div class="content_list container_12" >
                         
                          <div class="grid_2" >
                             <div class="list_test ">
                                  
                                  <a href="space.php?uid=$value[viewuid]&do=$do&id=$value[gid]" style="float:left;">
                                  
                                  <h3>$value[username]的订单</h3></a>
                                  <br/><br/>
                                   <!--{eval $list1 = $value[zhong];}-->
                                    <!--{loop $list1 $value2}-->
                                     <div class="bookinglistproduct">
                                         $value2[subject]<span style="float:right;color:red;">单价:$value2[curprice]</span>
                                         <div style="clear:both;"></div>
                                     </div>
                                     <div class="bookinglistproduct">
                                         数量：$value2[number]
                                     </div>
                                      <!--{/loop}-->
                                       <div class="bookinglistprice">
                                       <span class="bookinglistprice_s2">
                                           总价：$value[count]元
                                       </span>
                                       <div style="clear: both"></div>
                                        </div>
                                      <br/>
                                      <br/>

                                  <div style="padding-left: 10px;padding-right: 10px">
                               <span class="customdiatel_s1">收件人：</span><span class="customdiatel_s2">$value[username]</span>
                               <br>
                               <span class="customdiatel_s1">联系电话：</span><span class="customdiatel_s2">$value[tel]</span>
                               <br>
                               <span class="customdiatel_s1">收件地址：</span><span class="customdiatel_s2">$value[place]</span>
                               <br>
                               <span class="customdiatel_s1">购买方式：</span><span class="customdiatel_s2">
                               <!--{if $value[buystatus]=='payonline'}-->
                               在线支付
                               <!--{elseif $value[buystatus]=='PayOnDelivery'}-->
                               货到付款
                               <!--{elseif $value[buystatus]=='PayOnShop'}-->
                               到店提货
                               <!--{/if}-->
                               </span>
                               <br/>
                               <span class="customdiatel_s1">下单时间：</span><span class="customdiatel_s2"><!--{date('Y-m-d',$value[dateline])}--></span>
                           </div>
                             </div>
                          </div>
                     </div><!-- list end -->
                     <br/>
                   <!--{/loop}-->
		<!--{else}-->
			<div class="c_form">还没有相关的货到付款内容。</div>
		<!--{/if}-->
    <!--{else}-->
    <form method="post" action="space.php?do=order&cod=5" style="margin-left:20px;">
    <div style="text-align:center;margin:0 auto;width:100%;">
      <br/><br/><br/><h3 style="color:#02B4AB">请输入电话查询<h3><br/>
      <input type="text" name="cheakorder" id="cheakorder" size="60"></input><br/><br/>
      <input type="hidden" name="ordersubmit" value="1"/>
      <input type="submit" value="提交" id="submit">
    </div>
  </form>
  <div id="searchlist">
    12312
  <!--{loop $searchlist $value1}-->
  $value1[tel]
  <!--{/loop}-->
  </div>
    <!--{/if}-->      
	</div>
	
	<div class='pagination'><ul>$multi</ul></div>
	
	

</div>
      <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <script type="text/javascript">
      $(document).ready(function(){
      $("#submit").click(function(){
      $.ajax({
      //dataType:"jsonp",
      url:"http://localhost/v5/home/space.php?do=order",
      type: "POST",
      data: "tel="+$("#cheakorder").val()+"&ordersubmit=1",
      success:function(data){
        $("#searchlist").html(data);
      },
          });
       });
    });
    </script>-->
    
<!--{/if}-->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type='text/javascript' src='./source/jquery.simplemodal.js'></script>
    <script type="text/javascript">
     
       $(document).ready(function(){
         $("#weizhong").click(function(){
         $('#weixin').attr("style", "display:none;");
        $('#weixin').modal();
         })
         <!--{if !$cheakfororder}-->
          $('#weixin').attr("style", "display:none;");
        $('#weixin').modal();
           <!--{/if}-->
       })
    </script>


    <style>
    #simplemodal-container{
      height:600px;
    }
    </style>
      <div id="weixin">
     <form action = "space.php?do=order" method = "post" style="margin:0 auto;text-align:center;">
    <br/>
   <h3 style="font-size:20px;color:#44B1BA;margin-left:-10px;line-height:40px;">支付宝信息</h3>
    <span style="color:red">请填写申请支付宝成功后返回的合作身份者id和安全检验码</span>
                           <div>
                            合作身份者id(必填)：<input type="text" style="margin-left:10px;"  class="t_input" id="id" autocomplete = "off" name="id"   size="40" value="$order[id]"/><br/>
                            安全检验码(必填)：<input type="text" style="margin-left:20px;"  class="t_input" id="password" autocomplete = "off" name="password"   size="40" value="$order[password]"/><br/>
                            签约用户账号(必填)：<input type="text" style="margin-left:20px;"  class="t_input" id="username" autocomplete = "off" name="username"   size="40" value="$order[username]"/> <br/> 
                            管理员查看密码(必填)：<input type="text" style="margin-left:20px;"  class="t_input" id="password2" autocomplete = "off" name="password2"   size="40" value="$order[password2]"/> <br/><br/>
                            运费设置（<span style="color:red;">选填,不填则自动不实现</span>）：运费:<input type="text" name="yunfei"/> 元<br/><br/>
                                              (购买金额满&nbsp;<input type="text" name="manyunfei"/>&nbsp;元,则免运费。)
                            </div>


      <h3 style="font-size:20px;color:#44B1BA;margin-left:-10px;line-height:40px;">设置送货方式(必填)</h3>
      <span style="color:red">多选项，这将会显示给用户选择，请勾选你能够提供的</span><br/>
      <input name="shopping[]" type="checkbox" value="1" />在线支付
      <input name="shopping[]" type="checkbox" value="2" />货到付款 
      <input name="shopping[]" type="checkbox" value="3" />到店自提
      <br/>
      <h3 style="font-size:20px;color:#44B1BA;margin-left:-10px;line-height:40px;">推送者:</h3>
                           <!-- <input type="text" class="t_input" id="taobaourl" name="taobaourl" value="$goods[taobaourl]"  onblur="relatekw();" placeholder="注意输入有效的url" style = "margin-left:20px;"/> -->
                           <select  name="push" >
                           <option value="0">未选择</option>
                           <!--{loop $list1 $value}-->
                           <option value="$value[fakeid]">$value[name]</option>
                           <!--{/loop}-->
                           </select><br/><span style="color:red">(以下2项两者选一进行填写，若2项都填写，默认选择第一项)</span><br/>
                           <span >or</span><br/>
                           <div>
                           <input type="text"  class="t_input" id="subject1" autocomplete = "off" name="subject1"   size="40" />
                            <div class="list_box" style="border:1px solid #999;width:257px;margin-left:180px;">
                            <div class="keywords_list" ></div>
                            <input type="hidden" name="push1" id="push1">
                            </div>
                            </div>
                            <br/>
    <input type="submit" name="submit" style="margin-left:220px;margin-right:20px;" class="btn grid_2" value="提交">
    <input type="submit" name="submit" style="display: inline-block;width: 94px;height: 32px;line-height: 32px;text-align: center;color: white;background: url('./template/default/image/btn_normal.png') no-repeat;margin: 0;padding: 0;border: 0;float: left;" class="modalCloseImg simplemodal-close"  value="取消">
    <input type="hidden" name="shop" value="1">
    </form>

    </div>
 	
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script language="javascript">var jquery = jQuery.noConflict(); </script>
<script type="text/javascript">
jquery(document).ready(function() {
 jquery('.list_box').hide();
 jquery('#subject1').keyup(function(){
  var keywords = jquery('#subject1').val();

  jquery.ajax({
   type:"POST",
   url:"space.php?do=ajax1",
   data:{keywords:keywords},
   success:function(html) {
   jquery('.list_box').show();
   jquery('.keywords_list').html(html);
   jquery('li').click(function(){
  jquery('.list_box').hide();
    var update = new Array(); 
    update = jquery(this).text().split('|');
     jquery('#subject1').val(update[1]);
     jquery('#push1').val(update[0]);
                    jquery('.list_box').hide();
                })
  }

})
    });
  });
  </script>
<!--{template footer}-->