
<!DOCTYPE html>
<html>
  <head>
    <title>微信自定义菜单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <!--{template header}-->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
    <link rel="stylesheet" type="text/css" href="./template/default/weixin.css">
  </head>
  <body>

     
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
          <script type='text/javascript' src='./source/jquery.simplemodal.js'></script>
           <!--{if empty($space[appid]) && empty($space[appsecret])}-->
          <script type="text/javascript">
          $(document).ready(function(){
          $('#tip').attr("style", "display:block;");
          $('#tip').modal();
          preventDefault();
          })
          </script>
       <!--{/if}-->
          <script type="text/javascript">
          $(document).ready(function(){
            $('#weixin').attr("style", "display:none;");
            
            $('#weixinhome').click(function (e) {
                $("#what").html("<input type='hidden' name='type' value='frist' id='type'>");
                e.preventDefault();
                $('#weixin').modal();
                   });        
            $('#weixinhome1').click(function (e) {
                $("#what").html("<input type='hidden' name='type' value='second' id='type'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
             $('#1weixinhome5').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function5' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#1weixinhome4').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function4' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#1weixinhome3').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function3' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#1weixinhome2').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function2' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#1weixinhome1').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function1' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome5').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function5' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome4').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function4' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome3').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function3' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome2').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function2' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome1').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function1' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome5').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function5' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome4').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function4' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome3').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function3' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome2').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function2' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome1').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function1' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#weixinhome17').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='function' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#weixinhome18').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='function' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#weixinhome19').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='function' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });                              
                   })
          </script>
         <script type="text/javascript">  
  
$(document).ready(function() {  
  //get provinces  
  $.get("./source/space_text1.php", {category:'province'},  
    function(data) {  
      $('#province').html(data);  
  });  
  
  //get citys  
  $.get("./source/space_text1.php", {category:'city'},  
    function(data) {  
      $('#city').html(data);  
    });  
  
    //province onchange  
    $('#province').change(function() {  
      var province = $(this).val();
      
      $.get("./source/space_text1.php", {category:'city',uid:$space[uid], province:province}, function(data) {  
        $('#city').html(data);  
      });  
    });  
  
});  
  
</script> 
         <!-- navbar end -->
        
          <!-- side_bar end -->

            <div class="content" style="width:760px;">
                 <div class="content" style="font-size:15px;width:760px;">
          
                 <div class="indexing">
                 <span><a href="space.php?do=home">首页</a></span>><span>微信自定义菜单</span>
                 </div><!-- end -->
                 <div class="bread container_12">
                     <div class="bread_actived grid_1">
                         微信自定义菜单
                     </div>
                     <a href="cp.php?ac=weixinmenu" class="btn grid_2">生成菜单</a>
                    <!--  <a href="space.php?do=weixinmenu&edit=1" class="btn grid_2">修改</a> -->
                 </div> 
                <!--{if empty($list)}-->
                 <div class="content_detail_wrapper">
                   <form method="post" action="space.php?do=weixinmenu" onkeydown="if(event.keyCode==13){return false;}" enctype="multipart/form-data">
                     <div class="left_weixin">
                        <div class="weixin_header">
                            <img src="./template/default/image/wx_header.png" alt="">
                        </div>
                        <div class="wx_body">  
                          <div class="weixin_choose">
                              <div class="wx_choose_img">
                                    <span style="text-align:center;margin-left:60px;margin-top:20px;">点击更换图片</span>
                                    <input type="file" name="file1">
                              </div> 
                              
                              <input type="text" class="input_text" value="输入欢迎语" onFocus="this.value=''" name="focusname">
                             
                              <div class="article_choose" id="weixinhome">
                                 <span>点击选择文章</span>
                                 <img src="./template/default/image/avata1.png" alt="">
                              </div>
                                 <div class="article_choose" id="weixinhome1">
                                 <span>点击选择文章</span>
                                 <img src="./template/default/image/avata1.png" alt="">
                              </div>

                          </div>
                              <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="1">
                                <li></li>
                                
                                <li></li>
                                <li></li>
                              <li><img src="./template/default/image/erji_add.png" class="add"></li>
                              <li><input type="text" class="erji_input" name="1sub_button1"   placeholder="请填写"/></li>
                          </ul>
                          </div>
                            <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="2">
                                
                                <li></li>
                                <li></li>
                                <li></li>
                              <li><img src="./template/default/image/erji_add.png" class="add1"></li>
                              <li><input type="text" class="erji_input" name="2sub_button1"  placeholder="请填写"/></li>
                          </ul>
                          </div>
                          <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="3">
                                
                                <li></li>
                                <li></li>
                                <li></li>
                              <li><img src="./template/default/image/erji_add.png" class="add2"></li>
                              <li><input type="text" class="erji_input" name="3sub_button1"  placeholder="请填写"/></li>
                          </ul>
                          </div>
                          <div class="clear"></div>
                          <div style="display:inline;">
                          <ul class="erji_menu_tips">
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="1" class="tip_img"></a></li>
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="2" class="tip_img"></a></li>
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="3" class="tip_img"></a></li>
                          </ul>
                          
                          </div>
                        </div>
                          <div class="wx_nav">
                                <ul>
                                  <li style="border-left:1px solid #CCCCCC;"><input type="text" name="button1" placeholder="请填写" tag="1"  class="first_menu"></li>
                                  <li><input type="text" placeholder="请填写" name="button2"  tag="2" class="first_menu"></li>
                                  <li><input type="text" placeholder="请填写" tag="3"  name="button3" class="first_menu"></li>
                                </ul>
                          </div>

                     </div>
                     <div class="wx_notice_text">
                      <h3>注意事项</h3>
                      <ol>
                        <li>顶部是初次使用的推送文章</li>
                        <li> 底部是微信一级菜单和二级菜单, 一级菜单填写完成后才能继续二级菜单填写</li>
                        <li>微信自定义菜单填写完成后, 您的公众帐号出现一样的自定义内容</li>
                        <li>没有修改内容请不要点击提交，因为这会清空一些数据，从而导致你需要重新设置</li>
                      </ol>
                     </div>
                          <input type="submit" class="btn grid_2">
                          <input type="hidden" name="fristsubmit" value="1">
                        
                  </form>
                 </div><!-- content_detail_wrapper end -->
            
            </div>
              
          </div><!-- content_wrapper end -->
    </div><!-- wrraper end -->
<!--{template footer}-->

    <script src="./source/placeholder.js"></script>
    <script type="text/javascript">
         $(document).ready(function(){
          $(".erji_box").hide();
           $(".first_menu").blur(
            
               function(){
                // var ke=$(this).val();
                // alert(ke);
                 if($(this).val()!="" && $(this).val()!="请填写"){
                   var q=$(this).attr("tag");
                  
                   
                  if($(".erji_box[tag=" + q + "]").is(":hidden")){
                    $("img[tag=" + q + "]").show();
                  }

                 }
                 
                  
               }             
            );
           $(".first_menu").keydown(function(){
              if(event.keyCode == 13){
                  var q=$(this).attr("tag");
                  $("img[tag=" + q + "]").show();                  
                 }
               });
            
            // 回车事件
            $(".tip_img").click(function(){
              var r=$(this).attr("tag");
              $(this).parent().hide();
              // var new_r=r+""；
              $(".erji_box[tag=" + r + "]").show();

              $(this).parent().parent().css({"position":"relative","z-index":"1"});
            });


             $(".erji_input").bind("blur keydown",function(){
              if(event.keyCode == 13){
                var that=$(this);
              if ($(this).val()!="") {
                $(this).parent().siblings().children(".add").show()
              };
              }
             })
          
            var a=1; 
            $(".add").click(
                function(){
                  var that=$(this);
                  var placeholder_val=$(this).parent().next().children("input").val();
                  // alert(placeholder_val);
                  a++;
                   if(placeholder_val!="" && placeholder_val!="请填写"){
                    if ($(this).parent("li").siblings().children(".add_input").length<4){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' name='1sub_button"+a+"' placeholder='请填写' class='add_input'></li>");
                         if ($(this).parent("li").siblings().children(".add_input").length==4){
                           $(this).parent().parent().parent().attr("style","margin-top:-40px;");
                             $(this).hide(); 
                     }
                    }

                            $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (that.val()!="" && that.parent().siblings().children(".add_input").length<3) {
                      that.parent().siblings().children(".add").show()
                      
                    }
                    
                    if(that.val()==""){
                      that.remove();
                      
                    }
                              }
               
                            })
                   } 
                   that.hide();  
                }
              );
              var b=1;
               $(".add1").click(
                function(){
                  var that=$(this);
                  var placeholder_val=$(this).parent().next().children("input").val();
                  // alert(placeholder_val);
                  b++;
                   if(placeholder_val!="" && placeholder_val!="请填写"){
                    if ($(this).parent("li").siblings().children(".add_input").length<4){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' placeholder='请填写'  name='2sub_button"+b+"' class='add_input'></li>");
                         if ($(this).parent("li").siblings().children(".add_input").length==4){
                           $(this).parent().parent().parent().attr("style","margin-top:-40px;");
                             $(this).hide(); 
                     }
                    }

                            $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (that.val()!="" && that.parent().siblings().children(".add_input").length<3) {
                      that.parent().siblings().children(".add1").show()
                      
                    }
                    
                    if(that.val()==""){
                      that.remove();
                      
                    }
                              }
                    
                            })
                   } 
                   that.hide();  
                }
              );
               var c=1;
               $(".add2").click(
                function(){
                  var that=$(this);
                  var placeholder_val=$(this).parent().next().children("input").val();
                  // alert(placeholder_val);
                  c++;
                   if(placeholder_val!="" && placeholder_val!="请填写"){
                    if ($(this).parent("li").siblings().children(".add_input").length<4){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' placeholder='请填写'  name='3sub_button"+c+"' class='add_input'></li>");
                         if ($(this).parent("li").siblings().children(".add_input").length==4){
                           $(this).parent().parent().parent().attr("style","margin-top:-40px;");
                             $(this).hide(); 
                     }
                    }

                            $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (that.val()!="" && that.parent().siblings().children(".add_input").length<3) {
                      that.parent().siblings().children(".add2").show()
                      
                    }
                    
                    if(that.val()==""){
                      that.remove();
                      
                    }
                              }
                    
                            })
                   } 
                   that.hide();  
                }
              );

        })
    </script>
     <!--{else}-->

                          <div class="content_detail_wrapper">
                   <form method="post" action="space.php?do=weixinmenu" onkeydown="if(event.keyCode==13){return false;}" enctype="multipart/form-data">
                     <div class="left_weixin">
                        <div class="weixin_header">
                            <img src="./template/default/image/wx_header.png" alt="">
                        </div>
                        <div class="wx_body">  
                          <div class="weixin_choose">
                              <div class="wx_choose_img">
                                    <!--{if empty($value2[imageurl])}--><span style="text-align:center;margin-left:60px;margin-top:20px;">点击更换图片</span><input type="file" name="file1" ><!--{else}--><input type="file" name="file1"><img src="$value2[imageurl]" style="height:82px;width:222px;margin-top:-60px;"><!--{/if}-->
                                    
                              </div> 
                              
                             <!--{if empty($value2[name])}--> <input type="text"   class="input_text"
                             style="width: 216px;" value="输入欢迎语" onFocus="this.value=''" name="focusname"><!--{else}--><input type="text"  class="input_text" style="width: 216px;" value="$value2[name]" onFocus="this.value=''"  name="focusname"><!--{/if}-->
                             
                              <a href="#"><div class="article_choose" id="weixinhome">
                                 <!--{if empty($value3[number])}--><span>点击选择文章</span><!--{else}-->$newvalue3['subject']<!--{/if}-->
                                 <img src="$newvalue3['imageurl']" alt="">
                              </div></a>
                                 <a href="#"><div class="article_choose" id="weixinhome1">
                                  <!--{if empty($value4[number])}--><span>点击选择文章</span><!--{else}-->$newvalue4['subject']<!--{/if}-->
                                 <img src="$newvalue4['imageurl']" alt="">
                              </div></a>

                          </div>
                              <div class="erji_box_wrap" >
                           <ul style="" class="erji_box" tag="1" >
                              <li> <!--{if $list[0][sub_button5]}--><input type="text" class="erji_input" id="1sub_button5" name="1sub_button5" value="$list[0][sub_button5]"  placeholder="请填写"/><div id="1weixinhome5" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[0][sub_function5])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count=='5'}--><img src='./template/default/image/erji_add.png' class='add1'><!--{/if}--><!--{/if}--> </li> 
                              <li><!--{if $list[0][sub_button4]}--><input type="text" class="erji_input" id="1sub_button4" name="1sub_button4" value="$list[0][sub_button4]"  placeholder="请填写"/><div id="1weixinhome4" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[0][sub_function4])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count=='4'}--><img src='./template/default/image/erji_add.png' class='add1'><!--{/if}--><!--{/if}--></li>
                              <li><!--{if $list[0][sub_button3]}--><input type="text" class="erji_input" id="1sub_button3" name="1sub_button3" value="$list[0][sub_button3]"  placeholder="请填写"/><div id="1weixinhome3" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[0][sub_function3])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count=='3'}--><img src='./template/default/image/erji_add.png' class='add1'><!--{/if}--><!--{/if}--></li>
                              <li><!--{if $list[0][sub_button2]}--><input type="text" class="erji_input" id="1sub_button2" name="1sub_button2" value="$list[0][sub_button2]"  placeholder="请填写"/><div id="1weixinhome2" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[0][sub_function2])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count=='2'}--><img src='./template/default/image/erji_add.png' class='add1'><!--{/if}--><!--{/if}--></li>
                              <li><!--{if $list[0][sub_button1]}--><input type="text" class="erji_input" id="1sub_button1" name="1sub_button1" value="$list[0][sub_button1]"  placeholder="请填写"/><div id="1weixinhome1" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[0][sub_function1])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count=='1'}--><img src='./template/default/image/erji_add.png' class='add1'><!--{/if}--><!--{/if}--></li>
                          </ul>
                          </div>
                            <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="2">
                                <li><!--{if $list[1][sub_button5]}--><input type="text" class="erji_input" name="2sub_button5" value="$list[1][sub_button5]" placeholder="请填写"/><div id="2weixinhome5" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[1][sub_function5])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count1=='5'}--><img src='./template/default/image/erji_add.png' class='add2'><!--{/if}--><!--{/if}--> </li>
                                 <li><!--{if $list[1][sub_button4]}--><input type="text" class="erji_input" name="2sub_button4" value="$list[1][sub_button4]"  placeholder="请填写"/><div id="2weixinhome4" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[1][sub_function4])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count1=='4'}--><img src='./template/default/image/erji_add.png' class='add2'><!--{/if}--><!--{/if}--></li>
                                <li><!--{if $list[1][sub_button3]}--><input type="text" class="erji_input" name="2sub_button3" value="$list[1][sub_button3]"  placeholder="请填写"/><div id="2weixinhome3" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[1][sub_function3])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count1=='3'}--><img src='./template/default/image/erji_add.png' class='add2'><!--{/if}--><!--{/if}--></li>
                                <li><!--{if $list[1][sub_button2]}--><input type="text" class="erji_input" name="2sub_button2" value="$list[1][sub_button2]"  placeholder="请填写"/><div id="2weixinhome2" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[1][sub_function2])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count1=='2'}--><img src='./template/default/image/erji_add.png' class='add2'><!--{/if}--><!--{/if}--></li>
                                <li><!--{if $list[1][sub_button1]}--><input type='text' placeholder='请填写'  name='2sub_button1' class='add_input' value="$list[1][sub_button1]"><div id="2weixinhome1" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[1][sub_function1])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count1=='1'}--><img src='./template/default/image/erji_add.png' class='add2'><!--{/if}--><!--{/if}--></li>
                          </ul>
                          </div>
                          <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="3">
                           <li><!--{if $list[2][sub_button5]}--><input type="text" class="erji_input" name="3sub_button5" value="$list[2][sub_button5]"  placeholder="请填写"/><div id="3weixinhome5" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[2][sub_function5])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count2=='5'}--><img src='./template/default/image/erji_add.png' class='add3'><!--{/if}--><!--{/if}--></li>
                           <li><!--{if $list[2][sub_button4]}--><input type="text" class="erji_input" name="3sub_button4" value="$list[2][sub_button4]"  placeholder="请填写"/><div id="3weixinhome4" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[2][sub_function4])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count2=='4'}--><img src='./template/default/image/erji_add.png' class='add3'><!--{/if}--><!--{/if}--></li>
                           <li><!--{if $list[2][sub_button3]}--><input type="text" class="erji_input" name="3sub_button3" value="$list[2][sub_button3]"  placeholder="请填写"/><div id="3weixinhome3" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[2][sub_function3])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count2=='3'}--><img src='./template/default/image/erji_add.png' class='add3'><!--{/if}--><!--{/if}--></li>
                            <li><!--{if $list[2][sub_button2]}--><input type="text" class="erji_input" name="3sub_button2" value="$list[2][sub_button2]"  placeholder="请填写"/><div id="3weixinhome2" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[2][sub_function2])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count2=='2'}--><img src='./template/default/image/erji_add.png' class='add3'><!--{/if}--><!--{/if}--></li>
                            <li><!--{if $list[2][sub_button1]}--><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/><div id="3weixinhome1" style="float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;"><a href="#"><!--{if empty($list[2][sub_function1])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></a></div><!--{else}--><!--{if $count2=='1'}--><img src='./template/default/image/erji_add.png' class='add3'><!--{/if}--><!--{/if}--></li>
                              
                                
                              
                              
                          </ul>
                          </div>
                          <div class="clear"></div>
                          <div style="display:inline;">
                          <ul class="erji_menu_tips">
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="1" class="tip_img"></a></li>
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="2" class="tip_img"></a></li>
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="3" class="tip_img"></a></li>
                          </ul>
                          
                          </div>
                        </div>
                          <div class="wx_nav">
                                <ul>
                                  <li style="border-left:1px solid #CCCCCC;"><input type="text" name="button1" placeholder="请填写" tag="1" value="$list[0][button]" class="first_menu" style="margin-top"><!--{if empty($list[0][sub_button1])}--><div id="weixinhome17" style="float: right;margin-left: 80px;margin-top: -65px;z-index: 999;position: absolute;"><!--{if empty($list[0][function])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></div><!--{/if}--></li>

                                  <li><input type="text" placeholder="请填写" name="button2" value="$list[1][button]" tag="2" class="first_menu"><!--{if empty($list[1][sub_button1])}--><div id="weixinhome18" style="float: right;margin-left: 80px;margin-top: -65px;z-index: 999;position: absolute;"><!--{if empty($list[1][function])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></div><!--{/if}--></li>
                                  <li><input type="text" placeholder="请填写" tag="3" value="$list[2][button]" name="button3" class="first_menu"><!--{if empty($list[2][sub_button1])}--><div id="weixinhome19" style="float: right;margin-left: 80px;margin-top: -65px;z-index: 999;position: absolute;"><!--{if empty($list[2][function])}--><img  src="./template/default/image/add_menu.png"><!--{else}--><img  src="./template/default/image/add_menu_c.png"><!--{/if}--></div><!--{/if}--></li>
                                </ul>
                          </div>

                     </div>
                     <div class="wx_notice_text">
                      <h3>注意事项</h3>
                      <ol>
                        <li>顶部是初次使用的推送文章</li>
                        <li> 底部是微信一级菜单和二级菜单, 一级菜单填写完成后才能继续二级菜单填写</li>
                        <li>微信自定义菜单填写完成后, 您的公众帐号出现一样的自定义内容</li>
                      </ol>
                     </div>
                          <input type="submit" style="margin-left:50px;" class="btn grid_2">
                          <input type="hidden" name="secondsubmit" value="1">
                        
                  </form>
                 </div><!-- content_detail_wrapper end -->
            
            </div>
              
          </div><!-- content_wrapper end -->
    </div><!-- wrraper end -->
<!--{template footer}-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type='text/javascript' src='./source/jquery.simplemodal.js'></script>
<script type="text/javascript">
         $(document).ready(function(){
          $(".erji_box").show();
          })

         var a="$count";
         var b="$count1";
         var c="$count2";   
               $(".add1").click(
                function(){
                  $(this).hide();
                  var that=$(this);        
                if (a<6){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' placeholder='请填写'  name='1sub_button"+a+"' class='add_input'></li><div id='1weixinhome"+a+"' style='float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;'><img  src='./template/default/image/add_menu.png'></div>");
                         if (a==5){
                           $(this).attr("style","margin-top:40px;");
                           $(".add1").parent("li").remove();  
                     
                     }
                    
                     
                     }               //$(this).parent().prev("li").remove();
                $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (a<6) {
                      that.parent().siblings().children(".add1").show();
                    }
                  }
                
  
                }) 
              a++;
              $('#1weixinhome5').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function5' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#1weixinhome4').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function4' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#1weixinhome3').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function3' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#1weixinhome2').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function2' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#1weixinhome1').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function1' id='button'><input type='hidden' name='fathernum' value='1' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
                }
              );
              
              $(".add2").click(
                function(){
                  $(this).hide();
                  var that=$(this);        
                if (b<6){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' placeholder='请填写'  name='2sub_button"+b+"' class='add_input'></li><div id='2weixinhome"+b+"' style='float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;'><img  src='./template/default/image/add_menu.png'></div>");
                         if (b==5){
                           $(this).attr("style","margin-top:40px;");
                           $(".add2").parent("li").remove();  
                     
                     }
                    
                     
                     }               //$(this).parent().prev("li").remove();
                $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (a<6) {
                      that.parent().siblings().children(".add2").show();
                    }
                  }
                
  
                }) 
              b++;
              $('#2weixinhome5').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function5' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome4').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function4' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome3').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function3' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome2').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function2' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#2weixinhome1').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function1' id='button'><input type='hidden' name='fathernum' value='2' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
                }
              );
          
           $(".add3").click(
                function(){
                  $(this).hide();
                  var that=$(this);        
                if (c<6){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' placeholder='请填写'  name='3sub_button"+c+"' class='add_input'></li><div id='3weixinhome"+c+"' style='float: right;margin-left: 70px;margin-top: -45px;z-index: 999;position: absolute;'><img  src='./template/default/image/add_menu.png'></div>");
                         if (c==5){
                           $(this).attr("style","margin-top:40px;");
                           $(".add3").parent("li").remove();  
                     
                     }
                    
                     
                     }               //$(this).parent().prev("li").remove();
                $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (c<6) {
                      that.parent().siblings().children(".add3").show();
                    }
                  }
                
  
                }) 

            $('#3weixinhome5').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function5' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
              c++;
              $('#3weixinhome5').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function5' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome4').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function4' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome3').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function3' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome2').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function2' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
            $('#3weixinhome1').click(function (e) {
                $("#what").html("<input type='hidden' name='button' value='sub_function1' id='button'><input type='hidden' name='fathernum' value='3' id='fathernum'>");
                e.preventDefault();
                $('#weixin').modal();
                   });
                }
              );
         </script>
                <!--               <script src="./source/placeholder.js"></script>
  <script type="text/javascript">
         $(document).ready(function(){
    
          
            var a=$count; 
            $(".erji_input").click(
                function(){
                  var that=$(this);
                  ++a;
   
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' name='1sub_button"+a+"' placeholder='请填写' class='add_input'></li>");
                        
                           $(this).attr("style","margin-top:0px;");
                
                }
              );
             
        })
    </script>-->
      <!--{/if}-->
             <div id="weixin">
            <form action = "space.php?do=weixinmenu" method = "post" style="margin:0 auto;text-align:center;">
            <br/>
           <h3 style="font-size:20px;color:#44B1BA;margin-left:-10px;line-height:40px;">  
           <span style="color:red;">以下二者只能选一进行填写,当两者都填写时，默认跳转连接有效。</span><br/>
           1,文章或列表:
          <select name="province" id="province">  
            <option>选择组件</option>  
          </select>  
          <select name="city" id="city">  
            <option value='0'>全部</option>  
          </select> <br/>
          2,跳转链接：
          <input type="text" name="link" id="link"> 
         </h3>
         <br/>
            <input type="submit" style="margin-left:250px;" class="btn grid_2" >
            <input type="hidden" name="functionweixin" value="1">
            <div id="what"></div>
            </form>
            </div>
           
            <div id="tip">

            <br/>
           <h3 style="font-size:20px;color:#44B1BA;text-align:center;margin:0 auto;line-height:40px;"> 
           <form action = "space.php?do=weixinmenu" method = "post" style="margin:0 auto;text-align:center;"> 
         你的appid:<input type="text" name="appid" style="margin-left:40px;"><br/>
         你的appsecret:<input type="text" name="appsecret"><br/>
         <input type="submit" style="margin-left:250px;" class="btn grid_2" >
          <input type="hidden" name="appweixin" value="1">
         </form>
         </h3>
         <br/>
  
            </div>

           


  </body>

</html>