<!--{eval $_TPL['titles'] = array($newname[subject]);}-->
<!--{eval $friendsname = array(1 => '仅好友可见',2 => '指定好友可见',3 => '仅自己可见',4 => '凭密码可见');}-->

<!--{template header}-->

<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_blog" class="feed">
		<h3 class="feed_header">
			<a href="cp.php?ac=product" class="r_option" target="_blank">发布</a>
		</h3>
		<!--{if $count}-->
		<ul class="line_list">
		<!--{loop $list $value}-->
			<li>
				<span class="gray r_option"><!--{date('m-d H:i',$value[dateline],1)}--></span>
				<h4><a href="space.php?uid=$space[uid]&do=product&id=$value[productid]" target="_blank" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a></h4>
				<div class="detail">
					$value[message]
				</div>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">还没有相关的$newname[subject]。</div>
		<!--{/if}-->
	</div>
<!--{else}-->

<!--{if $space[self]}-->

<div class="content" style="font-size:15px;">
          
                 <div class="indexing">
                 <span><a href="space.php?do=home">首页</a></span>><span>微信子账号(客服)</span>
                 </div><!-- end -->
                 <div class="bread container_12">
                     <div class="bread_actived grid_1">
                         微信子账号
                     </div>
                     <a href="cp.php?ac=myweixin" class="btn grid_2">
                      添加
                     </a>
                 </div>	

 

<!--{/if}-->
		
<div id="content" style="width:760px;">

<div class="content_detail_wrapper">
 		<!--{if $list}-->
		<!--{loop $list $value}-->
                     <div class="content_list container_12">
                          <div class="grid_1">
                                <div class="list_pic"><!--{avatar($value[uid],middle)}--></div>
                          </div>
                          <div class="grid_2" >
                             <div class="list_test ">
                                  <h3>$value[username]</h3><br/>
                                  <p class="action_info" >
                                   <a href="space.php?uid=$value[uid]"> <span>真实姓名：$value[name]</span><br/><span>负责内容：<!--{eval $wei=$value['wei']}-->
                                  <!--{loop $wei $value1}-->
                                  $value1['subject']
                                  <!--{/loop}--></span></a><br/>
                                  <span>添加日期：<!--{date('Y-m-d',$value[dateline])}--></span>
                                  </p>
                             </div>
                          </div>
                     </div><!-- list end -->
                     <br/>
                   <!--{/loop}-->
		<!--{else}-->
			<div class="c_form">还没有相关的微信子帐号。</div>
		<!--{/if}-->
          
	</div>
                     
	<div class='pagination'><ul>$multi</ul></div>
	
	

</div>


<script>
function fuidgoto(fuid) {
	window.location.href = "space.php?do=product&view=we&fuid="+fuid;
}
</script>
<!--{/if}-->
	
<!--{template footer}-->