<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/pageTitle.css" />
	<link rel="stylesheet" href="css/pageComment.css" />
	<link rel="stylesheet" href="css/button.css" />
	<link rel="stylesheet" href="css/jobTable.css" />
	<script type="text/javascript" src="js/jquery-v2.0.2.js"></script>
	<title>企业介绍</title>
</head>
<body>
	<div class="content paddingContent">
		<div class="head pt20">
			<h1 class="cTitle f20">招聘高级英语讲师</h1>
			<div class="cTime pt15">
				<span class="time">2013-04-02</span>
				<span id="countComment" class="fr">评论(120)</span>
				<span id="countRead" class="fr pr5">浏览(146)</span>
			</div>
		</div> <!-- head --> 

		<table class="jobTable cParagraph mt10">

			<tr>
				<th>职位类型：</th>
				<td>讲师</td>
			</tr>

			<tr>
				<th>工作城市：</th>
				<td>上海</td>
			</tr>

			<tr>
				<th>主要职责：</th>
				<td></td>
			</tr>

			<tr>
				<td colspan="2">1、提升学生对英语学习的热情</td>
			</tr>

			<tr>
				<td colspan="2">2、GRE词汇教学</td>
			</tr>

			<tr>
				<td colspan="2">3、学生英语夏令营活动组织</td>
			</tr>

			<tr>
				<td colspan="2">4、精解历年GRE试题</td>
			</tr>

			<tr>
				<th>岗位要求：</th>
				<td></td>
			</tr>

			<tr>
				<td colspan="2">1、你是英语专业，发音标准，有教学经验优先--简单说，英语水平高；</td>
			</tr>

			<tr>
				<td colspan="2">2、你很有耐心，善于交流，有解决问题的智慧和团队精神--简单说，情商高； </td>
			</tr>

			<tr>
				<td colspan="2">3、你对教学有热情，认同教学是一个老师学生共同成长、收获的过程；</td>
			</tr>

			<tr>
				<td colspan="2">4、你时间充裕，能够接受灵活的工作安排；</td>
			</tr>

			<tr>
				<th>联系人：</th>
				<td>汪小姐</td>
			</tr>

			<tr>
				<th>地&nbsp&nbsp址：</th>
				<td>东莞市虎门镇大宁社区麒麟东路15号</td>
			</tr>

			<tr>
				<th>电&nbsp&nbsp话：</th>
				<td>0769-8015</td>
			</tr>

			<tr>
				<th>网&nbsp&nbsp址：</th>
				<td><span class="unl">http://www.laoluo.com</span></td>
			</tr>
		</table>

		<div class="button myMargin">
			<a href="" class="f20 cWhite">立即拨打电话</a>
		</div>

	</div> <!-- content --> 

	<div class="comment">
		<div class="commentContainer">
			<div class="commentPublish">
				<div class="commentText fl">
					<textarea id="comment_text_box" placeholder="请写下你的评论..." name="" class="f16"></textarea>
				</div> <!-- comment_text --> 
				<a href="#" class="cWhite fr">发&nbsp表</a>
			</div> <!-- comment_publish --> 
		</div><!-- comment_container --> 

		<ul class="commentList">
			<li>
				<div class="commentItem">
					<span class="name cName">游一回：</span>
					<span class="commentContent cComment">这个房价不错，可以考虑入手</span>
				</div>
			</li>
			<li>
				<div class="commentItem">
					<span class="name cName">房奴：</span>
					<span class="commentContent cComment">哇哦～这个房价确实不错，可以考虑入手，快点有钱把～～</span>
				</div>
			</li>
			<li>
				<div class="commentItem">
					<span class="name cName">青青河边草：</span>
					<span class="commentContent cComment">这个房价不错，可以考虑入手</span>
				</div>
			</li>
		</ul>
	</div> <!-- comment --> 

</body>
</html>

